<form method="post" action="/adventure">

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Jenny Lagrimas Adventures Photography</title>
<link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link href="/col3/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/col3/css/3-col-portfolio.css" rel="stylesheet">

    <!-- Temporary navbar container fix -->
    <style>
    .navbar-toggler {
        z-index: 1;
    }
    
    @media (max-width: 576px) {
        nav > .container {
            width: 100%;
        }
    }
    </style>

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-toggleable-md navbar-inverse bg-inverse">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarExample" aria-controls="navbarExample" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="container">
            <a class="navbar-brand" href="/">Jenny Lagrimas Photography</a>
            <div class="collapse navbar-collapse" id="navbarExample">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading -->
        <h1 class="my-4">Adventures</h1>

        <div class="row">
            <div class="col-lg-4 col-sm-6 portfolio-item">
                <img class="card-img-top img-fluid" src="https://lh3.googleusercontent.com/ytYD4ztrs4fcH9Z6CYSaKYZtp_z0H0W-WuPq81W9rPGb5ntcL69RD4EE8WfQ07FL1OhL7EqeL-zhpsAnKV6aet-8lwTxoU0CR_uXNHPwxW1zvtyPlEDu1Qj9fqR3IJMXBAWC77bj2Pamg5AL-NWz1pRsmnUW5D3F4KNoxUkLAtMOJI-esRhXn0z3NpziiDqbbQxOGSXBhqNAXI_mnTnK2j0iWDbLlziBuO_KyvKZB4_ELJIGOTGjUd_piP7xlCkzcS3vW7vxAuf2cxKCqjfpCHeUjHbAR-VajZr-HTa4U4PIE_pb-shZz33S2d8B8_HdZGM3zCSSACiD4k9tm2EJS27lxaVV3U6Y7-3_5TW3Ml_o1fNz5ck6uGm7i2AZvarnDEOXEEgPaTB7Kxq1yUfYWJGWHxVmc3nqHwojjKAd7UKG_Djkhel8ROZXTCJjL41IdsHYf6HH9F4Pmvg_kahsOFlFgb7Mp-EkpL9ik62lysIsO8mbHwsnOTA5pjoqOtPGJRAPMIJ_HGoTPAi5Dq34Hm3Yh_p13QDvBwyEWOY3RzW2UyC95WI1uQ_SPcWkIWHxwSDhsgRgM_IVzxIOzz6VGAB7UxgVpVyYfdKLiSaB8EbWdk4VKF_UzvI=w590-h786-no" alt=""></a>
                    <div class="card-block">
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 portfolio-item">
                <img class="card-img-top img-fluid" src="https://lh3.googleusercontent.com/X4IqAKUc07Vn0zikU48CX9luu4FR_drqRUwwIHgQpjOOHRA_2fV_j9LHWC-sRQappdlYWi6LzywPjelTxEiivrTEuHepxjThZe__83TvyxpYTLWk7s9MGLOMDvJwRua2dREqd80zLVUmfLuHe9j2rWprvsRwgE8xfTtp9q2yVFLjzjRQOVO0G-Zlc7uUvxIuC5IoC_ziukbte8VTXyuTeYNHafeteLtnoMi8xBsdHRWpx6aakZbIOAAlnMPw3Pp_1gKt7di880KYqkYkxgf-WSJaKRaZPcSHYPjOr0L0KPqO2cd60M3NiNClc4ZAOzB8VWs8deEfQkTeBwb885hxfkf9MGUgu4kb_NdN5DRX1qdSZSAH4njmx89FyJF7Z6jNzVjTMJxXyoSuQYtYVPKxkjUSgfHoXDqbLLHLurK-QRAf24YGtypeZupM7Ta6IVJTkxAGHzn-nXCYdXh7unP0kyYLWxpptmsFEQzQOCSFgfoPBc0bksheKoLOpcYTEu6hpHzxGV8w8lRhMFV8WNeJsMGJHOj9bJyyBbKqWPIwA2NM_t6i_T-7GSMsEIW0DoMZXGfWA9vGg7dbwiSjb_V23K5hN4u1SFaTCHl9DArvZsqaSoNVNvhU5O0=w524-h786-no" alt=""></a>
                    <div class="card-block">
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 portfolio-item">
                <img class="card-img-top img-fluid" src="https://lh3.googleusercontent.com/WLCJ5psjy173xkFTMqj-6PQh5pAyXbp5ihQ3_yKInLfhZxHs9D1nBuOrj6sX8toDwgR6frybRLC8OO2VwDaT6ByaVlF9Na5TJwP-YfO6dBXlCEJGtdh99Fo3W09pHdfMt4av9f8OUFJlXMo36EC6cb7AFakPSIu_eeH03zWvju_PZBDjZMV-gKHJ3EHTifCuFcOI5ATWAqbkMOER955zGe3jGO5vuN8WhkrSUxdoO5lUtFE1bzMNQKteIJVXkiZhSpv6e73fkpklHTAp_3PwXX5JBOI_G4KELeFuwSg7B9lDoXQ5b-bBuGW65LJZHC1Qkp6SMlw7WLE-54MH5N2_wSbft7wc9_Isw6747pPPyf87L3GVHR7Oh-0RbpK2PmNkaAagKsHepzS4po_0bih-mIGfAUVqfcOeEdZcUtYZroVs0BJoSxu-eOtDJhcmuUzs6bOpKqUDlRsNMSwKfVt-eNXsjsBM2bWpXofdWerqZWqnGxdPpI7qFcborYbWXM37JYgzCeV2sQPaWDmOC425QpCBgw4x8HYJuCO1HbbNl-t6-FICGaJyazgJOF6Etc70wjBjfhlqJQiIIVRM9Neww2xVWECvY-raLkwXwoqcCq9WeAVngJTq-_U=w526-h786-no" alt=""></a>
                    <div class="card-block">
                </div>
            </div>
                        <div class="col-lg-4 col-sm-6 portfolio-item">
                <img class="card-img-top img-fluid" src="https://lh3.googleusercontent.com/PLZn6-poo28cXUugvKdpgAGWA9WG5hcD-pJPKnQkpca8JIdGpfRYvN_ceMG99TIw3Z09zIbQt57FA_xriJkD72kbv6dzhRCs77DPztH1rCfKEvMSrYP08148Ln3lLRiVepbGfqi1_8P0PIGLodkB6mPsXL2hBqkd-KWnMQaUSfWCy8abhV2dlPHDodV8_HTyoRg8Pnrun1LDVDh1QC7CSsdiksID1s4g8-RVov6mPddmDx_jnuvhUBK1WiN01biG1fk0m9eAPSEhYmzve7p_LZ7BIvLtmXmAZeAr_-fBeXiftdOuHRxPezJLBGqObI7oKcKyiBwgM8VU16hzJAts8Yw6nRjfYIlwO4fxWGZRKGj6mhtQycspzC9dzKti9PmaC43Qc3w8tv1VA7eZxMrxGZTaK8_FD3DjHbQtutkudKIHO1i7Q1p_Bvaw1Q8sfLg_2-M5ZWNufRAcVmhzGsooey_X25UrqDX0q6gxzosEcpyZ9KLmVb8qRuuBUlpjH3icCtmnn7gm_AKOWhobRMrv00QNgghgb95omc_yvOLltEABsTJs4bWRGFNNFTJW3lMuBh3GiiB7BqG6GSOkPAh4YHBAoAeuA-LXf3M7gwkU_DrV7qrBmrOlPIk=s786-no" alt=""></a>
                    <div class="card-block">
                </div>
            </div>
                        <div class="col-lg-4 col-sm-6 portfolio-item">
                 <img class="card-img-top img-fluid" src="https://lh3.googleusercontent.com/zw283CLVc5YbquLZD_8yDxfDwbus9WcWb__5zJa1GEbvQLa8AYREtd-ynq7yWOdmQEJiQcln3eUiMy4SGkGOqbHE9HgH_xK3-p6vPhueuAbPvZhAZTcVATcWDCSFnGUDpZfy1ucc06D4cgxzjNjRbAo6iQ_8dLCffUSVSRu_T2MM71vFdiR8rGaTs11XvlSqqC_YMWb7fHCOudvB89CpQk5aaI3pW4LePqPYHW4dwOFQn4XcUCByfKpnL05ws0iNBFP6Ib4J658tx768AiRhmgIx_NEi4T5Nl5ZRVJAHOoWkJJZ7A88b2j_0P1r3bPuHRVONlIx4VgqfN273zldosC-r7UMgYa7PP6qUBWIrCLxdZhm1N4GsqxYGmUqonCiz2V1SmGdgRUl-Iv6yS5E-0vFaLFsYH5M-Q3yS0qiJ62PnajjCHQ7iWAa7huggQ7L1xvFgGwjW14uT4JOIMexNl6bdjprqsNGxF8HSsRbJJDsO2oR2jXDcxtNiSh5f0QdP8pAlaD_AO0zL8mcBRQ4Mxy42z4GTTKhNdeY1iUq7QJjnsdnWm9jsIZmbaA3xa1mtbhkbqiT9PCQxnEPXMknMnfamTi0vUVRYxFXroQU5W_T-7y1v3rGKET8=w1177-h786-no" alt=""></a>
                    <div class="card-block">
                </div>
            </div>
                        <div class="col-lg-4 col-sm-6 portfolio-item">
                <img class="card-img-top img-fluid" src="https://lh3.googleusercontent.com/57QBEFGajwxN3fkLP2LCkWl84AuAxEfzB_ejORaSQsbYRJKhTlOj969MTwICbza9FcUYaX2-V78lUceGtlM2YGrjBxcmFbPDe5teQoj9jYWbx11bF2AMQPiDxc27w1c8g4rOlSHh-Me9HArLP7IcxZjXiBMw5surxASDQ05TuxNzVsBuxNc-0578T71j6tDJUHd8rGtUEL6l_8RzrjCj_bUpNeKJ64kWPNkQslTYBHtl-Lie0PSqGlQIDeWwZB_1pdZEp_qopfJqzQrmCJO4c9M75UNwiP1LPlgbbyJ27AZWm7GOWQLN4LD4m6dcYeG26VO9f9zdaZ9rpTpPFhUvc4N7mNU7csJ3uN2845T6PIEcXb3xtc2rSAzvGLcudK2AOITnFB-ywUpc5wKTk2VVP8BHUM1Lnii3HFsSHrxlHrBINhTwIQwLSwoIxKpJIgIAKwoqpe71OT7Gr3XiFyDyRk2cvdKdtKAwh_OGAMAphZ3iyMbQ_9uQseJ64V9DqmUqXg0gM-z2iPmLl5ZGfPzK8ciqVgiDz-ucZhzIBzNSY5rKP6Lr3Arnuj9aZlc3TsGDysdyMN2YkRyWLqNWUc3_GtLWfO48eRN3tCsf6X7m8eXiEfGMoIBTAns=w1048-h787-no" alt=""></a>
                    <div class="card-block">
                </div>
            </div>
                        <div class="col-lg-4 col-sm-6 portfolio-item">
                <img class="card-img-top img-fluid" src="https://lh3.googleusercontent.com/Pqqj0lpVPFWLMCIH4r8_ps5rue8CkHNU1G68UmkSKvtNTKoltvcWosM8huX_XvETvs3vd-Rxe0U1kV9YroNJP0n8T6BycTSD3v3IWvpAxuA_kzB4kS72KbnfCOhMlKP_Zf43LNHmV4c3BWKPSW3A4FZu0kfrPEUiYz6nvFx-2yw8J6iKXpO4cOCVkV8QIGPSjTDdPOMUUQKabXw4SVEFYeg4d17bX3FBXg_S704pT6N5GTWfTqcX7LYSkyCvWm6pdpfj3nhsWgbxBWJ66Jke-vXdHeMb2sU05363Of64d-R4f4z7OVLflwyw6u1DBhWNsx80W3XhWVyEbSec_CZQ4YeVzb5BphFuCB92Aa6YXJJhjclkCtSnyrRwDAQ6rWBevdhgBgXU8gTVIScA3qtVC5R4xL8KPky0CpKaVNdj_kFoN6eAcMQ7cnhgLFcq2ll0wIq6fQ7coardUUzUj90EYKwziCHw5uFXagKLLAmssGdEpm2M34g1Lro1rAts2SU-6pIynHhsjbiZJ-HhQT6k1vSjp2DlW9Op8G_Fs3EuYmIX6YlXVPDbPtBe5ndbBeZFnBfiwFI0KC09rLfN3Vmdi8FPAsyvmgo82lSInjPq0iQhrqNFQzK9K9k=w960-h642-no" alt=""></a>
                    <div class="card-block">
                </div>
            </div>
                        <div class="col-lg-4 col-sm-6 portfolio-item">
                <img class="card-img-top img-fluid" src="https://lh3.googleusercontent.com/9VeokP__i8Y519oguptd6KdVTMqkq4PFHFYiTnwfB4gvRW5Qi2jATlMhuAt8fi6a7Cynb-iB-e0bqbkdzNmFeWA4THBOh1BQZz57Pi3SjeS6jqIUiJfN5Rqeo8aCI2fWu7rMBXkap_gCPu7OpKlNR4v1FHHIylCPIQmsS6P0AxBTluNNlPCuIuBT_JMvFlAVTFpTQoESllmS2YUQkQaYDPG4CneEjfOzq6MJYv3G_7jh-nzj6TlvAGEHpewZ6paVMqeyogEr7zVbQf8RJ8jo-RgbnCXRV_X2Bx9t3pk4aa7fgFOsiekukMK3LObQTMNGAa_giPshgHDzsgYCxTpxKtf3KmN2BFDUyRdQkM5OjIDAXicBCLxY3xzY1OHCyC_0YuNLrNPB0cqTHDc4FptE7FUtauK7ZsKzAty0mgtD0T-73jsDVnAjfVZQkKcG87PTz_dH6xFn85gJlB7BKoqIclM_rueRMvR40ASAy4F4zRAJJagUOluVoJ0jrSLa42aRa1mIz1-qsJL5WHmiLoqUPaRgoNIAr30oGCxzpaJ1wXQ8o0NHaTmQ5x5ZaBalaKX5JoVG9eDbU3wJF7Bc0RYk_seCj2EV70fY09keEl801zYprlgZSp5x838=w1177-h786-no" alt=""></a>
                    <div class="card-block">
                </div>
            </div>
                        <div class="col-lg-4 col-sm-6 portfolio-item">
                <img class="card-img-top img-fluid" src="https://lh3.googleusercontent.com/UOxeoiwOijpRlzg6In9DOKIGom3z2rkrRIIGM2BSu10_jiFzMPjrnOvum1RXn9fa7GBtB0BqD7R_iEZf0yPosmhbFVsZQdcONdcyPr21b2dqCLND5LRiERKuimxvG3shjhDeAddJ-GZTa22Varn_I70WMZD6Gsaevp5YTEpJ7xIFAF9ySrnIiDsHz4xywuu81JgkizmkUehtWX7HbqJ7CjzHHp3YKiFv5SEG4kAwd6_B5LxdhVSlvdA7m_cUP_TydbHIqmV5k2yk-Li3in1E2aJE83s598z0nUleh15dlKUDjfJVy3m6_uwvOpeVF1Md_hFbx3T2TfbTCP7uoCk6UzF7mHcK-e0XBRmdqhfXxPV9gZwnkCquCPCrfAn-QMIvf67cnVVdWWs5w6WggV_rH6Ok_zN8LMXy4BTFn2mmAVA03ZkMPSe_EV-beYMDrO4cH9d17FYZD-6UF5pz6KKBtPhQcbZXII969PRxA3Rl4nspklayI06R0pvLfM3GL3I_k86V3kI4GW_5Qt2ilYbZ0-HlvH3a5-_jPqWC9tyiwK2ysRHv3-3Gt_kZ3ojsP-5GXzQ8U5IQoWAOLvykV9T8Gf2MYliFgwH05xB3qgMMeLBcTSBW1MRRk2Y=w1177-h786-no" alt=""></a>
                    <div class="card-block">
                </div>
            </div>
                        <div class="col-lg-4 col-sm-6 portfolio-item">
                <img class="card-img-top img-fluid" src="https://lh3.googleusercontent.com/IcUGIqDiMvoz3xwbWIZQxPnH_jXKS9pvA44UB-cccIzBrGF-V4TVa_vsYuMATzf5PYIDfp8UWtc9uieYz1Pm0QzjfanDXDGXOu7-Po-BP0BmMw0tJPwvbvfzXuxXvzxdeJ3I93w7QUjyc6jxehWPVoRzZXWQcHB_LgCF6-K6kxC1tWWqimViKCYrHoO1m_nDo0OxocghSwXt4n-fplDQofVdTUAn_wzthhkXug7cO2K3vzJmmQAfD-VAzKs3xk75LYpclvj2G9NJ2sMb7aYuHOzCcmp7QhbKO_DLPv2QzPcRK4fkiVynD6wQqqAqDZXJ-aUBSXcxfQWhnUO16r0VOCMqms-2duUGaPZsIsFi4MoQ186mwCOQQCgfR-lXSIwJw6vZ4DL9uXYWqjXJI2hkdEtICi-F87rJz6hAVmJpvTsEXUCIYybde5XS40pUXjWpLSRvsmYkyQuQY7TopkoJQNQfli4hxAFpAml5R3FDaT781Vd2_Dy8EclgUF7W_DtLAfl5K2QmC6rqkz66XXm9daOwHvGYskGicNkwDK6Jugqtnr0rGliQ0fn3AVJSB6B6PaCVscn7Mlu0pbAb7egR3tt3BJ11zQ4n05--5tes8RoUBj3cbUpQftU=w1177-h786-no" alt=""></a>
                    <div class="card-block">
                </div>
            </div>
                        <div class="col-lg-4 col-sm-6 portfolio-item">
                <img class="card-img-top img-fluid" src="https://lh3.googleusercontent.com/OhV0WKBsRvz27MIN4phEhlI_4ByN1l8ouPKEpqiinp-_eu6KKGZt5mY78flg2Sc67qYyPNr-tJshWtzp8D6jxiMPJyAssidi2UY07pToT6FjB2OaPD7sYnnRpsM4Y-GQ0Dmo_mJoU4aFL4xV1MIoE3qijKAyBzcegyHOhasqCkvY65kLTOpE76V2qFbXy1WsjwwwqtlOD9B6FIj0z6Ab1rJR5xvRI4RuHP3ePaqk-FK_05etr20YdlXwhsCY81-p6wGL-0-DoysWFxaqMNKFIzxYO4gK91GSiDpric3JNfdTq1UBKc0wH_T03hwTqOCQ867InljBLYBxuFp_o5PGKZxDSaVQqSqZVeYl8dp02SMhqdRR69dUCBJcSDImE6XZ1EcCcHRzP24eyThGbKK3HZxKM4kXFdHLQjrjsofhgYM6FH2Rtdc9-pCo0_owwBbdzNZGkJNuGyIwouPIdooptUvv0CurtZ9IZ04cwrov1ZALX7QYQOlu4NAhidcSR3-HqdDI1txxleA4ulwiQXpitQ9jMPB2PSJRctI0zLiP4nFTRjp4sJ-7dj96GhEtknRDbhWhkHDxr9getEHIuMqYTGtXM6hauXvhgvVrXaT7Clx1tGQcBsyBZQM=w1177-h786-no" alt=""></a>
                    <div class="card-block">
                </div>
            </div>
                        <div class="col-lg-4 col-sm-6 portfolio-item">
                <img class="card-img-top img-fluid" src="https://lh3.googleusercontent.com/UGN-pxBJgduc6ycP4x0LnqlJVdSOcvG59286MdgIjOhlLPHlJ3IUtuMSqxSiEFpZ_MOEXop35wXp5CUZqiTIrH0gH6fxuAhoJ1tPWV6rrKpaliGNAA-xINMZgKr_MMlR9DEu-ri8w4R04jsotqmGLTcYelXVauUbzYPlybEfrZ2ej6ZAys4VnzJRwOr-oXGRdXYqa1PoqSTNizo1Qqebl7Qnjxoz50_w5cgrBIjBJzaXe3Iyv_NHsr-Pz6WM4EsddfhlnXLzU0fyi-1J6smgdLghF2TbeeCVMYXxSL4R-sDLrM8O5-4l9x4guZpQh_7yPh_VOeF2KQ-MPV31MvHvMuK8vtdfgiWhlDFP_anbIG4ll4YI4eA_1c70nZmG1UcaVgw1C53br7Yv_ofnfQXfQx3TrS2a0194Hrvf-nzCa0IzCOfijBr2HWUvGC2Kjoh3s4WkrcoK-kIpng47cHriMyDN7VFgZNfkxwd8SCgqyNudnN34AQ3EFKnevY5tXiMGcBrKEZZi2mVzhTl9VT5JouhKTe_bTF7IBrHy5HMfRAmESUawNB9w4ReY25goF_ZckG5ve-We5TvDxPy3ZEjJ-k84SEDMv1i_-j6BDuo1hgOv7Zwdir3Czsk=w1177-h786-no" alt=""></a>
                    <div class="card-block">
                </div>
            </div>
                        <div class="col-lg-4 col-sm-6 portfolio-item">
                <img class="card-img-top img-fluid" src="https://lh3.googleusercontent.com/Cm3WJC2z3_lVTks4a8GVyBYrYG2UppEuTuGOZ9aITkhtqWd2aqg-QSjSB5xucaxCW2IEtcmh6IlrkQwnFdf9ivnsda2tyHQ4eqyApImQlCaXnQ1Nyik6KIrBNxqMQwv5szh0lj7Y8yBzNuGd4hE9F1aRK9ziFdnGB_S0v9KBxhR-hceRdlve2kP2dIk4AskLh89GmTFxqJskmunT0Gsgl25dKZ-WviHL---iL_Qkb-HAXL6onO8ZPzwWkExpgzKuxMXyxTqLbwG9bssbyWgqow5heOm3w5sMVOc56ogjqlF3o9-8T2GuH1MtJ7P4XSFSr79SJn4JHRVdYJluUjV7YqopxFYAGOtXfgvkxIbt6sI6Su4cUFILZ76coAoSHSEWlLIz_DMrbXLMQ77coNrXQ0A6qYdZxdomrsJx6rPFA66zK5C8IWMm1BSordhItee5jFEj25liLG4bvl4po1owtQqTnAn8e6LQ3JwW3lVCuzUsYszn4T2xu9yIBL1XnUbDoYl_si8GFzOD4b9gxmmqRt9UXs2TuL-USkphpfDD8KRVcIZODxLvBQnXRYi2N6_SOGANEZUg-8UcGoV-TI4fS8sQon3vukv4SmjfRM8fXE6p4IKc_DrcTsk=w1120-h786-no" alt=""></a>
                    <div class="card-block">
                </div>
            </div>
                        <div class="col-lg-4 col-sm-6 portfolio-item">
                <img class="card-img-top img-fluid" src="https://lh3.googleusercontent.com/F3OMwYw2zLOGy8ysEwCYvAMZFlDbzTVb0X-O22xc_dWBKmu6UxwUzmPUbhp25JP24CBl1iW3J9uuLtw9SXkRBHFzU80LBdub_X1rDyu2rw_bKsXq4qGA2oxpy5kx9lp2FV5kXCfHxX67MeBVFcs4LJxvCDWoiO0pjZEHn4RZLs5Pj8puFq9ybz1PXfS_zGr9sHc2QS4-dHoVOU2GH4bJiHcnp4Wd8OZ5t63OMMoHuLkrCvUjHvU0eO72sBEUuvtEbYxSIWJJ-3bEk0ppl_LhtS45zZGDLXK9kdTeg_cADcol_rMSQlK6xtKHjwRAB6eceW_4vydxBk8I0Xh93TSchuHVDSxIZz-NGxBirI4sxl0KUlfqZ64LmKdPJVhvUUi5ohq2vCAVJT3DdS4mCro3INzX64LF9D5uUIKZ-XKJ1074OkqFjF5UvA-_y4XqPESg482Bbg3QWddDTRJnrmdp42DBRo5v3tLsmaKJxScmNmWik10Zxe5oMmimuhgjbvGjZIADIoB2E2qArnI9fKyQZAMz2MJ-JiGITt35lbfsoLrxn6Dm5R1nuoEYUIe7TQwzgWBYnHgDuympBEH1YKiLF-CbEEEgwnI9JG5zLi0TOR51p9Ruon6Kco0=w1177-h786-no" alt=""></a>
                    <div class="card-block">
                </div>
            </div>
                        <div class="col-lg-4 col-sm-6 portfolio-item">
                <img class="card-img-top img-fluid" src="https://lh3.googleusercontent.com/fHmLG7D81JC6txbLpcP51dfJ1qAfeRUzxDhyg2B2b4RTODiRv3moPtcoBdEoE_F4wCLGKL2l0wF06ETEf9CNI-_cSWBdUaWXKDUObC0i7uY-N38DkOSGCJUwTzpYu7cRRXwZqI6t5GQiOBWE5ekYEEkfSwmfQYsDvzwyz3jsFcpo9Y7WPRyqibtmycP3GvSLgifMQfon4pkEpzi_XtJObVhZkEmcxsuf5H8jJlcI7QV_4zV49Yzj9GI-_BsWtYgcOBdI5uu4j8L1uYLtlW1GQk7P_L884TaYpRwwegwPT7F83695pSZjq4yixmXGBYpQSpGPCSsEi9snQLmRGhnHO34uLM1lQ-_awOPybLm-bwQa78bnsehvCO14YfMuuxYmJTUsMp82Z0lxq_BpZWT7vRJHFlwB82HfZHUKMgYrI-eJQsNXGdwhERt9l949OZsBZ2EljdNHJzx-2opOWUFTB3IyGkFTuVIxexQK2fWJ1Tz6QrSeTSkCcHYo2n2fkXrtST3t7VO5-iUS_xY9WgiLg3KQRjjD_Yo1JJFidIrYwtTwJxfT29ysKsZN2F1AoDggbLUlAxcsR1TJb9Cfhh7rBWETdTuDRsSEcdjE19DdC8j6Eu_uKK2CKw4=w1177-h786-no" alt=""></a>
                    <div class="card-block">
                </div>
            </div>
                        <div class="col-lg-4 col-sm-6 portfolio-item">
                <img class="card-img-top img-fluid" src="https://lh3.googleusercontent.com/6p3kq9naorqGM0qvAjbk1EtF1O7xc-S2W3qVXCudoMi3Qna25NSksz5-uRSCxo-St_onDWr9KPAvMlIv3jo9s1nJmoairkRvWCOOHzzRW_CQmr4qi5q666FUKUdxR8NVlmCk2ndhhqbBaoJvGpAOpG06vXovnbSPflM_hpBRm_GW19-q5rCCer84bJmEZdciNzgjKz12LALb-vxetiiptTHeYxSEGDx3DAnGaLHGl0HJsibQLCawY7jh8PPHl7XmKcfvnmQ2VN66EKR0hSBZBKez6nvDQvkL_SWbH8ZDs1AdhqM9IksFiP4sAZbJulSsiZeYDi9so1h_8oYakbeJ1JcZIoR8lgOlwbvnteOo35zMGsMwU5DHZoFw_r79gbDjrXtzYX5_7fzrJh3P2fM51MGNYR3dyNZs1FTlDTGoQSqc__Ra-K9-saYWPyUXPqyeZZVoRLgDaBzTWkSLRLIdUbOGonvaPFqXdXN6aBY_1BWjcPAR9wQm5NK-jG-dqFmT-lOGEfV6tRMYa5b4a4Gm09Cp2HNtp1QoBW0_LGrbQ7rNVqqzrXUyA-4IXdu9hUMTFADGddPAbh942XfpbgAHAPbcIh1hk0h16PDTEC12csGsAUENBNE5B-w=w1179-h786-no" alt=""></a>
                    <div class="card-block">
                </div>
            </div>
                        <div class="col-lg-4 col-sm-6 portfolio-item">
                <img class="card-img-top img-fluid" src="https://lh3.googleusercontent.com/jx1cYNUsErUVJF2KWT_ENmGPXtiKIdpz2EM9mg5h-WiCXdE4_sZvWrMjqu57IP2qiyiH6sryQCb3-6dT4m0y2lifvUbmLWpYk0BVc9VJiL_PPFMcdIdBcG-Iw4Z1IU-yYMhr8oH2N6whFLIc2HQW0WF6SAtQ2LJPKpBY2eAP2CWwuj1MtbQGhVc-n8-vrxR3YbN9Qf-bH5wcNxJf3j6HaAfZnqpFigQg92kr_7h0BBDs0bGtM76VJvb4ufTetWSzXHC-7YNcgsj6Ob1HUuTrwPIw6jWer1J2KdJdz-UXcOQQrr0yEQUEnlhFo-_SPsttozHm7djyGUNpHXt-IlIsIDWIBIJL9Lkh-nAhYMius-LUCW1XMUSR5yyR63GXRyZPdcCsRQzzIfzBwTbMimC32NUwBkKuRWswdg11xtMAlyPrKx29FXf7f3W5eDyvnq7s2h3eC3jMya_5QYYp5zaL8npcCbKdbfKFXWDcoSyurqVp52xGXKjzXbbnlGp5lQHv8IUXYpcptjOt3Xm3eJRfcSR0E36NUqvr0uTIZPkCURmyDjiU5tUIxkYBhe6dkw2qvb8qFElr_N_VSIRIYPzQG5nvSl8bn8if2szfWmL4r-edJt8sSUYOnCQ=w1177-h786-no" alt=""></a>
                    <div class="card-block">
                </div>
            </div>
                        <div class="col-lg-4 col-sm-6 portfolio-item">
                <img class="card-img-top img-fluid" src="https://lh3.googleusercontent.com/h32ph75gyOxSVP_zY9N1VlZoI9DDpbLDC-Ob96krAlib8K-FdD9SG-vXqC5qMJ_Dj-V5ZD64a5n5sH0R4K0RY8ORAJw7yjsHa3hakPmXvLTglVows56la3H4Wc3S-WT4dk-YJLLvnedOGJUPW3TsT1qinN0BGDy8GrBbRUMFrjsIyvTXTssXdAJyyWkzW0aJj0YcbgdJsRS99FzLedjvpsudmOHitzKkFvb433Uq_5ks160qdckLS1SeaaPYNjJeitJZ6p-P2qYvcTKnRZf4hRzfik_O9dh4InYY0s9O6CcdpD8Ow2ONZn_Vjlf2n4RuPjKKyVlPuYAEr4TWiF3c8Qltcnjy1pCGuEMRJUgm2hrwZ_4gb4QvAwFb-9dA9KyCpNI_H5o0qtiSRdnz6XBAAldIDwxcScRoU3E0NwiKff9YG-JgJKzHEa0s6RPMpQX5zy5FlaaSwatMao-wLsj-A7CpZprhGso90TgPVEYQjoDa1LnguA0cxiAYPgdNwf5WOJDAqyZw3FafN9IWBplB9nSIJDhveT7nTFC5eFr9vqCKUO4QnZ1K85DfyPucTqbUafeQTPOJ4BnfIGUKJ_k6yPLwq-oFWiOiZH9x7WHaOxOCEcWrIxpPnLg=w1177-h786-no" alt=""></a>
                    <div class="card-block">
                </div>
            </div>
                        <div class="col-lg-4 col-sm-6 portfolio-item">
                <img class="card-img-top img-fluid" src="https://lh3.googleusercontent.com/jdgyjYcNLiePaj1bmiU1SH3HnZSE25VlOLSaRu74vHjFwCONUDtTsX1Je35GKnbjySz6RrD0QX2padm_YENOEiXWa8iHNm8mR53DO3DlupL8yJcAJLL4YP-xc6eJ0ZjRPSkvF2AC59TOaG0N9CSDBXjMN4CO8uDGSuHpNVWXRbwVeY-nl7GFq1Mp4y_1yhsIF5Lnytmx10BbCr9_o_xvgOzDIdY9lY_1m6Bo9p7w7qfroGhlDYHmrSHiq6LoD0Yhp_83LBhSMVexogvghA27ZAF-ZIuUddT9ubkhCBxmW6xzOTyUZHh-WRNa8co2muSmfyeJnuNte4hJGbdxzpzumKS2htnpFBUVzSSTuI2NjIY9Ggbg0RW76XboG2m4hTQvG-AHY4ZBOmWDLNElWQaTkK9KwV59za1E73Myljc9EvW8e8Z3BWj0YYG1n4XgygZAEPzDaZG2xvlRJXGQ6toc2GtatGIH13cM4q3LmTYjrsG_5vltKBTn12F284YWJblZ-sYACi71JwpuztvaCy-pOC7TNr5O6R-s4q6aaL_HAk-pfbp4HRHV62SrJ35CqPHg5__6JUdaiHiEJep_bCibb1XmvGWwsXPdORfb4aZ9j_CaJym-QFWZb34=w1181-h786-no" alt=""></a>
                    <div class="card-block">
                </div>
            </div>
                                    <div class="col-lg-4 col-sm-6 portfolio-item">
                <img class="card-img-top img-fluid" src="https://lh3.googleusercontent.com/EUXmafBrXtoy7HasUqyEOHmolg2vSI-pnwnM4ZQwY_KlY6q1uXo548h0uJVXTSqkahdgGyK0iFWo-78eIxkenv7MeWqBTQd4pb-bJywGZuHSlfS6BDo6JvleVX3jHIWeCj05JuzixUbvKHCaNmqmqJY1FuUzI-THy8-GEw59TDBncmtG7vgIl-_J7cuJ7HDNJxmjfKRBfCV3DIEe3bu8MRaOhXCRB4R_AFlFScDFYbZxFU_wG-XL7vEAZ0lJSk1yDayUn_r0b_KxgWpw9zc9O4MAxqvc03JUyplRPYqppQT3cR-7dxibZ4K5d8RMlXOAMpF8MGphSAAxytNJ1F3lFtZ62s-O3zQAJkkNpAMS_4kTRuyA9k6tQKbveFQqv8rmUkaoT1VV4kEwLjiJMnuiSfr6JBgRV_Bcad-WGVM9EREeHGGsQqR_8Fj5n109le-gaR6oTODAQ-5BdVpwzW4OR6WxDfB8K79MFZv1y7id6lXYYnr7mO2U3of6JzMCLRl1Yk2nmIzFJ11wJxQFVpuDtWWKyEiHTWsp-dUlra0av3o844R4ODw_ZKrE1OUv509YUbV94eRLfoY-dRwQJb7LvRz2aKTR-R4hUw_6KKPz5L5qVeNVtYkHIdM=w1180-h786-no" alt=""></a>
                    <div class="card-block">
                </div>
            </div>
                                    <div class="col-lg-4 col-sm-6 portfolio-item">
                <img class="card-img-top img-fluid" src="https://lh3.googleusercontent.com/RnXm-adm2mI3bYdS3f6ZV8rjPbjeJ_kYI5Np5taTRKv8VqCFtPifWrauk5smcZbPqSTpkSVV6mXXc_hnUCm8FkrD3zB2kluQ4BUb3uf9k59Jv8S3VoYDGahzHPpH0C7SUNijhpzUIDA9c-wbJViGdiB3t_eTOeXw9QQMk_a3qQ6_I-oMdh3EG0CVVxZoLiLFdyhe0TnLhcp9jEzjFuKtRpu5L515YxnEA6jtFvbex4MXF-0j7v0_XwuGJOflCkf1TZwEFAPmX2y23L8GJ8uBk6nReGQnh1o7YvKkjAuDR-N8ek70Y-sW3qHG7bVKn_JQ0TL2-r0pUB_0zLDwqUq_jZ_pvckTwpYgJDFyZclMM8CwO7ZAuUzS5yjJh35Sj-jUnHShMosLzq8JJe8YL_EG2UVRzRdx4thHPUrNAin3wZfbxy-EaUClAnPf8gKsCyA30m-pYT0ScfwcMVby2CVYBsFCrmPHuYny5WijrRGgqN_p3kOyI97IwKTPMhp2s9A0hfmPW6XmUqjhhGQ_H4_UKwj-EutCpCXZiC97qBZNAZB42_hAzzljb0NJVMosohW80FtN8s_1-cJObCx35Gu138EMVkTHzZ02yr2wJOTra0o0MJYZEZINjBk=w1181-h787-no" alt=""></a>
                    <div class="card-block">
                </div>
            </div>
                                    <div class="col-lg-4 col-sm-6 portfolio-item">
                <img class="card-img-top img-fluid" src="https://lh3.googleusercontent.com/GIW5RNss0uSfjMDbj1La8vyIf95OJc6nrdqToDGWesoOEJ4ZeCsCB9U47QrvzvTbHx2WByg2qbzv81ejYQUDJ98tmFccRiuoL-f82qSjIAaWjF2PCvDeSPo83so7J1DPuukhSo306q_vgcmny0_AkHrLShBHgTvSJlGLUZ8tkp-uhdxiXDjHHN62sIQkIE2EMWxF-hXzFK58I9XzIGa_lc21zFXzY08JpfvVAFQ5aiGwuFx-ghFGds1qbLuH_l__ntihhO0jPdiNwUMuivC1lZpx0CuCi9vEhNAbMqWNuCYsqn189NXFcaLgUqxBqR76ESFPDF7-rVFXMd-RtRBdyABDjYlqXjn4pJtC_sFhz-XLQndTSA_qe4oZnLLyPybLNg5IUXaEqIUEe1IgUm5Qh7WEOk-3RfHnicIiPxa3aSoBvh6qhwvlwEsaGR1Yb0eTNiE00ZSUMKUt6K3ZPX7SXKfKWBlrcMboR19z5dxaWfJkIywmGJEkiPub231Xgr4Dymf7nyyl36oQ4nv_r7FfsDXSuSBiNciuOLJTfVPFLM3fYFpevqjTAWTzVb_ypx6f0dmo2JU5WSB11GRy3hR0Ie06jBD96wOM4agyf5988aor84FbdvE5efU=w1180-h786-no" alt=""></a>
                    <div class="card-block">
                </div>
            </div>
                                                <div class="col-lg-4 col-sm-6 portfolio-item">
                <img class="card-img-top img-fluid" src="https://lh3.googleusercontent.com/H-V9625rtyL374OTtCXfUM3lbtbwk0G-Ss9xT17Xh7xj2MXTZTOQsnDEjo49uMTrM3lW8zIuXLcpkFXqf1Xz6ItohkMFeJ-rMfK__ToqBuIetuXkj4RQtpwG44yDnDE4quC-RMXfiU6uH47N7oZfQZbwYwpOOeplIy5GsYJWKAPxxK_HcnKckp_-cu9hR345qiAkwWxAk3iARMAbPQoGxFKPnGF8jUzxO-SMy59lv6L_6L5Oo51ObcKAbHZNUEeT9xauD33fXsKovpi5H158zWccpOz_IXD9xn4upzI4c_4EBm1IBVgmBRXqstlvmtid9IPDuSdN0_d1uufd1GhXLDPmxT3J0ucFnXyV47bG9Zo5U9Xm2zmcpyc9mMzZ2D1UzRtznPKoRuMeZww4jizeWjliADHQUlrWvixh4T-cqYpJ9An5dlcWKz0UB4askdwDoQIjoP7C3gx_5SRCaRP3mQCK7AIQD1fA5HrCFvG7siSmDgWQBI6OCoEpPw1ksFHPc1lf2KlNg4ygwQ2KYqBaw7RJqEcI6UJOAS_bZooMIg0uyLUTH2XpF1GR64xjyS7i8YHW82je9kVq9CBUIhPpdfzogCLyqxoKTMyD_nhyXdjdE1CBBBgF6y0=w960-h640-no" alt=""></a>
                    <div class="card-block">
                </div>
            </div>
            
            
        </div>
        <!-- /.row -->


    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-inverse">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Jenny Lagrimas Photography 2017</p>
        </div>
        <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="/col3/vendor/jquery/jquery.min.js"></script>
    <script src="/col3/vendor/tether/tether.min.js"></script>
    <script src="/col3/vendor/bootstrap/js/bootstrap.min.js"></script>

</body>

</html>
