<form method="post" action="/newborn/alyrica">

<!DOCTYPE html>
<html lang="en">

<head>
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Jenny Lagrimas Newborn Photography</title>
<link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link href="/col3/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/col3/css/3-col-portfolio.css" rel="stylesheet">

    <!-- Temporary navbar container fix -->
    <style>
    .navbar-toggler {
        z-index: 1;
    }
    
    @media (max-width: 576px) {
        nav > .container {
            width: 100%;
        }
    }
    </style>

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-toggleable-md navbar-inverse bg-inverse">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarExample" aria-controls="navbarExample" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="container">
            <a class="navbar-brand" href="/">Jenny Lagrimas Photography</a>
            <div class="collapse navbar-collapse" id="navbarExample">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading -->
        <h1 class="my-4">Alyrica Photoshoot</h1>

        <div class="row">
            <div class="col-lg-4 col-sm-6 portfolio-item">
                <img class="card-img-top img-fluid" src="https://lh3.googleusercontent.com/f5l32ILEjLGCcgzbaafFWooVuzmXeSFhPQJ1Qg_t-ToHzeJWM1_nyFIQghS-nT7bksxJ079pJ7Cx5yz3EFmzT4rWUTncV-YzTbni9qSV21esxe5Aws8VKLXCJEk06TcSfE6UhRjjiZOZ2luOPNJ3WBp0OKo3M2hGJNbKWjCK4k7Td_jTsBfLiKVYiQAmcc9vlGxVhbXtStTqVPjiX-iCZJDf4WTGBI7BgEY_lGq-WvsqQI9RBGK_1ZM0le9ZT6fAmD2mdAOkc1DfvMKQaSY0xNhn8YVkizIlFHwfUmg1RFFgWov1_ctEMYitBXyfnqV4Kul0yQR4QsjAP7wT73kV3EybtMv9X08X6Q5cPatZvdvv-LCbNGQad965lv8FcZqoqU1JvhyoJ8_9qMNF4FSKS4j_WHfGCTksotH1pgm1gUa3EcWpsbyy_dR9lYgnDWXI1kz8w3l_8ODbG2biWRqK-dTZC1lXdGJwLII2Uz_s_EPGCsijR44TFi4gyYkCjAE2Bqq7wv73_hoWtsJWbbZtExPqJBULkk39nSjMTKhgFguUiB2VMILZyS6wwV4Q9gt33H0fMvStEgwpziEFH3iJFVoZBLvv4xKl2qQ87fJhWADM2PEX7QRBX4KG=w1180-h786-no" alt=""></a>
                    <div class="card-block">
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 portfolio-item">
                <img class="card-img-top img-fluid" src="https://lh3.googleusercontent.com/XOPyxtEVUb8WKEEyBlL0lo8gUS9wtBG_z_cak7Wa33rCLdhIk5PBK6rgrt_CRrsVVeChRcTK4R1IoJ8TGuQKTlKfTcc5Hd26YFyDBFIf3l5ZcUBt0seZNNNuBmrRgYPBOjkFxC5EkWQHIW9LFN1VnzU_RHL-ySx4vhG4R41zRHv3lyp1Q2jpoD_90WMhrkWV4HNxNcxAdKf_8CIA5SZNDCh6D0lYWTZD39GZm9LL9vVt_4jlYlMmhp_W6rzaos-ycqtw5uxt-q_TgtC7IWEGdgaWY6cys3tErWkD7vpJrbXRiJPlbEVSDuaiggMSjd30xSh02uNR4l26RtpB6YlGJ7kmHu-Bvd9JJgvilTS89lGs8KHLfeSEleB99lCN-GEhAsoYYapZuDwlY61vLEFeVVoOMWW5_5UzrNSLnvldSiDlyH-UiziQASYBXxjA0Bxz8y3K2yL7ZRZm9bllPiCKn1jS1KJp3a-4-rGRJGahO-1T-hwkLrlNWVjl5zI-4Yw2MekP8ygC2Xv0lxBsByv6ee5Dr5Uqpjfu8YPkwXdADi62otiLrKUrJQQ3n43LYj7Os3nVTl9Eds-fl2mm03uLOFA-TySxmnxN-UckRpj_TE-Qn-8QdbuIY055=w1179-h786-no" alt=""></a>
                    <div class="card-block">
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 portfolio-item">
                <img class="card-img-top img-fluid" src="https://lh3.googleusercontent.com/o-QyGoaCW7BGj8oXpl84v1sCpSclCAN_KbU5ftW0m3aQunhfJc3wQjvUPHJcIx_w3LSlBUyOu9qgy_XiCduuKYOFxXVOzEW0cR5v2VyN8wDyB38TxqaJvs3FVZ7J0OuBsqwGAk6UGgQluIySM3CXOyCpuUJ32DCpYLZVGiNTg2uaJpnxvkYLrn0Gf5PNxfPonhnKZoo5-fbnMRzonInazjFGMAB671xaAaKjVljv99ud-Ahvn1F8zsxFzyXQpXCBWlakNEtZcrY1-Zq0es3mRBjfCMlI0mSmicwyaVfwbkE-90L5_LKx9sQG1zEpxIIwhr15JElWO1FivAmpwezYXSv5yc7_XNzdAwXg__0DSft9C_Nvwc9pxp7snX7fFdUDgOeXrXVdjniHqNUI-QvTVcjY45eDoOvYFlnhNZFNkJweaxhhFCd0PKVHVsWPavziQ8pAmw7eEM1lMrFKMBfRnNxPtb3MnJ0mP6VrkkTamsErevUc9kFXqJgNM0X-X-NzjWXuw7NtE_n-2X9n7TWHlYcP0dqF39f9Vk_9SqwFYXUU5achYNA3_l4cfy68A3nhTPAj0MChEYrkqAu87Wj6BSqrrMPcOQJNK1NpFOwmjZMXmNmKEX7G0KvQ=w1179-h786-no" alt=""></a>
                    <div class="card-block">
                </div>
            </div>
                        <div class="col-lg-4 col-sm-6 portfolio-item">
                <img class="card-img-top img-fluid" src="https://lh3.googleusercontent.com/o9p3dCRdBnkuEMEpj58shhlys6xXmXtFQjjR9eb6uCwr02iTigcrYjNist9DIzgeBnbktRIKWOkJKeHfDx4yrlHDSTbux2nfGShkX8_CoWAMJC5Aiq6E2jMDeq821Hho7fTXIYDl1SqJc8zxQOoz73B4c6EgiSXdm6ZmqJwmclxNPrsBvUoCaW2VD4LABPtPFwP5QWHmNjhXUpbnwnturGZqfXH_rJbcy8brPTZAo5FC9bjQRyqgBZTziZQD8h8u96s5hYU55o0bZp6s4PjKdzrI4sRGRhHKqlw9rrFRA4Iv37pxj_VOWfOyd456zgNoNkG8zp6N8S7z8KGWnzEuP4Pw_BEAF9YJiosRTg_2VOfJyfiriXybZnOaMgcWcvGWga2s7bJIbU3dj6-P97M_nX1iVj2GTbPHD9jJp6QZwBhe9ho6TZvSGuJfAr1iW_wdfC_kWyJw_a_-LFAobaVIF8A0VzVZHI8B1HvQmjBjnR_76RE9XUpOT3rFYMquHhEm9qHQPgfCTQifGTebRlBU5AidXkS66gyGJVti_CpxvPGyB5QXDXTqba5u1fUe8NphpEFjpZVjQusu8rvgMtMwah3DKsn6ugju8Z2cw_My1kJrVbkmdLFyu7T_=w1179-h786-no" alt=""></a>
                    <div class="card-block">
                </div>
            </div>
                        <div class="col-lg-4 col-sm-6 portfolio-item">
                 <img class="card-img-top img-fluid" src="https://lh3.googleusercontent.com/qtCkgtrJcgUUfXxiAp3LanEv4XRA8lXQF7ZWx3ENQEoRyZzSv5kztf6GCAak_fANZXkz7Hbv3ANJT8iQdzZL9UbxkKJ3w-u6kqYeAzclNO5kvNwy6DiN5rml-0yv9gqD67_8e23Do-bnjQNZvx9_lRY00S-cbSFFk5jHLJf84fqlT0AKdH6rUIDD6iIerIoLHMcORevh_1zdbfMi5yMnVtjzBdbjAgeQ3ioTuFHpO9OoIORmGJVbyCtVvYn4_K7kcNhOSQksO-YJDOY5INiyxqx-GNqkEY9RRN-SYjpriH4hQ1yZVt-ojirJdqXZWxg0qvKnGfy4IFOMefHULhwYQb5DdlaHFJLMaXpgtsnoUjUwYYDEH9UqdBYnfs5_VZ5ynB7UIB6Tg67zI7DoAdk-LJhvuMJyGgBzUMbzQeEfLF8M4oc3Uut7WLG9kyNFegB6DG5aKq-0rpJ5wxyRNdnorYp_-dvXjZmFB-prYI7rb0ABOCNDpX9p0hG0PjE9msvveyI_JcNDkZaQ9Yb9ZvilDsfgvdyHZoXP_9-vfRd1lUJ0jIufApjDbVbpHzjZMR-BD-nRijg8cwrHToSjhFutjfE4IeeAQwPU-JxqSaThzTy8GKeneBfXHC0o=w1179-h786-no" alt=""></a>
                    <div class="card-block">
                </div>
            </div>
                        <div class="col-lg-4 col-sm-6 portfolio-item">
                <img class="card-img-top img-fluid" src="https://lh3.googleusercontent.com/XuEjFiVrnEQwcTcPKhJNMMiqgMBtsGpuO2DuTdgT0XY6Q0jwCP81uqG2CsGqpADe2BiUWN_qTnnNIL1AsCKgBO8jxMVntpi1ghCczWNvl2BCtSmRmjUiXE-mMknO3Q2-eUr9Os9SfopWluE5p-FUa5LpInaqDdHbUTe25Y89Ca3lki3puNVmt5w0eMA0-a6pEXt4VnOGcyS6mCN-lxouocnBa59oAukO5XWKVhVjuSWNOc2d0YyNF4qaBjoaFzkkmtJsPOkEuf0DC_IVE3UzB53MuOf1oqmC8mnsuvZH4OfbqO5Y6SoX7JJr66Z10GjT7Uzfjwx2XtkPqAbN-ac1qNvCvnhx5vnyljQWa0Q7F6KfH_7Pz1yXJYBdjzxr7sL9KhkFeX4y8jG4l7R5vMYct0nBX9aYY700SEnu_yERFB0F-XRVGQwKmBSaegGb6kDn5sA1YhsxsvSz1iH2NquTjKoR61bwX_l47e7DGpaXrbtL-HNv6ijdX5cN7YwlL8yZp6RDMVyLcimPLviRrF1ArhN76UWO_TQ44FxeotFqHyrGl7Sa0l_PUGtCtME9Ffgxt_m7HTFkvKqAGt8xmu3V31bnsmLJJl2Spas_Jky50RkEOVusbWJ4k5Uh=w1179-h786-no" alt=""></a>
                    <div class="card-block">
                </div>
            </div>
                        <div class="col-lg-4 col-sm-6 portfolio-item">
                <img class="card-img-top img-fluid" src="https://lh3.googleusercontent.com/OO7dH0ainnsmoXdUSL3GZAIPLXETh9dlCy-rXhNSiJMIqraOHLMKYN8nF7yyeavB1nvZaeLnh3Mri_yIcwFLxlDwp91m4mKkO9wU6yWxX1G3fQ_QZSQSD5t24ioLpxlNCCdeewceB9dqDcGPeDwabbFYFLPL71VrL9Il2MIRYc9-5m8rUojDvfY6Oi_isad7C3uBsHcG8mjaXZAHglKXI5uUJEznmrsc5D77hfha6gLUL-bj6zyIg_60lZ79CHnfV8tQKYdWQaVc7zcBugO07kLRTQUZlaS0kBh8FG2hb0dF8R22ObMHp8lRiVddAc_6Hc1QisH1v_TxF6CzP-vLWlQ5rqaqARtYpWHIM0lrDK7vo3VIi4LWfbEVZox6cAztmkUUtISa7dPGRchw8l2VhtQ_SEFeGxqdoVESZia0w5QXhuykomSAmfheLiFPrxKB5jv5YYK_Y2QUzpDfFHTqVme3ZPPXuI8Y335b-RQrhlnPKeK7f9Ukva1CJ0wiermRnM-V3RTb4MKAEd4kFxLT1k22DuBBY_56eOx-QUd77-CwDXDoM2I4oM66_yxNwkZu-DjN2fNW5nqoiRjjcLnBpFNHcxLunvHoFWk8BXQvW6s1h5VO4GXdhcE2=w524-h786-no" alt=""></a>
                    <div class="card-block">
                </div>
            </div>
                        <div class="col-lg-4 col-sm-6 portfolio-item">
                <img class="card-img-top img-fluid" src="https://lh3.googleusercontent.com/u769AYQ7aEBil9RxV2Qp6cQIAZA1kVKwfU5-x0SgmBx-Sq8avAb8Pips--82TDiaqqv94jNXYTJr_UG3qNhvQSEx5NjsWe8vwqaflicckWPfMGRrUSVkvJJkEKIunB-UWicE9bIwvJVzac7kuaB-fUw9E9DDuHGx1B65Nnk8trzdmsn1OY2Zt5VsMRvSn0Xj3DB8wbWvyC222IpnMchKmhwjlNjLaHJcwCwAHk0i4Plcgt8cMEX-zo0CfS-9G8usI9elx7jYFZais5vlt0sfGba2jVOdIj-qxOxoonvIxKXbQDqkgm3Gw0I2Tqhg5zCpszTePfTN5H-TO6U5HJt7CY_llOU6jZLsLsuTK4hZmH2HPh5Gj4-JohSjmwWSEogTbNrXSkMS1Am_oJb905D5pVz00lfulsGWr3XzkuBtT3oz3ZTvXZUBLIy0j5jlHwd7Zvni1B7BDDGgzRpyGkz6LsajgT1rTjOy_5svX6hir5nBUhGAeHKgv-_3qnnFcFlBD5EOxATv0kbVIeO_ApwmY4eEwpR2jGHYG4j8-XdjWzR-YZJUm2btBPCsHcuFrjHoiSyQ_dD2yhJjHcMHtwKeP8hG0mbaR-jG31ET-zYJA595LgLmAdrp9kw_=w524-h786-no" alt=""></a>
                    <div class="card-block">
                </div>
            </div>
            
            
        </div>
        <!-- /.row -->


    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-inverse">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Jenny Lagrimas Photography 2017</p>
        </div>
        <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="/col3/vendor/jquery/jquery.min.js"></script>
    <script src="/col3/vendor/tether/tether.min.js"></script>
    <script src="/col3/vendor/bootstrap/js/bootstrap.min.js"></script>

</body>

</html>
