<form method="post" action="/newborn">

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Jenny Lagrimas Newborn Photography</title>

    <!-- Bootstrap core CSS -->
    <link href="/col3/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/col3/css/3-col-portfolio.css" rel="stylesheet">

    <!-- Temporary navbar container fix -->
    <style>
    .navbar-toggler {
        z-index: 1;
    }
    
    @media (max-width: 576px) {
        nav > .container {
            width: 100%;
        }
    }
    </style>

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-toggleable-md navbar-inverse bg-inverse">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarExample" aria-controls="navbarExample" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="container">
            <a class="navbar-brand" href="/">Jenny Lagrimas Photography</a>
            <div class="collapse navbar-collapse" id="navbarExample">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading -->
        <h1 class="my-4">Couples</h1>

        <div class="row">
            <div class="col-lg-4 col-sm-6 portfolio-item">
                    <a href="/couples/vtyl"><img class="card-img-top img-fluid" src="https://lh3.googleusercontent.com/53rpfzvbaEGOHWHp6oAbZM_iqJvIEpOE3ZjY8FrXR1ih8z8NB8UX4tZzmHbf307_pbVmmCdRMraa7zY9bMBY6w28liBmpUZ3hOYpTFD01qwU5YLeiaznQfrb2Madf57TLTL0_BUht2-bMfDzZBATu05Iwgq5raDG7MhizN2fcQo93brJvK4ekMBRydJdvSlSyMZ95K0T0-lRb0L5sbRfpivbP0dLBnuSUzOvY7U3hPoX8WF4UaR58Yv7h4-7DFtlMdr6MLa8i7LMlb8EHXr1DLwobdxmxEmpoDC1Qo0mAiaQf-bpl8N0THOcqShq-BLH_1I-o-NI1KMHfA8ZSHnwcnFp5cJaM_dvSvFaFt7lkY0s_Q0qgm1DCTbl52NfdcP2LG5nygjzEN5g5Yv8yq2plcwlJP6fi-bVJ1NSle9UMEKtFaHqFAdjzDXYf0Hdm9vGriFKdyJAhGwZ2t2BrTKVPxQJXDYV4lvwZx-FOzIkZUzIHl9AV93kGk6bC3NssEvAt_X9Fh754q440p2n_bYIU3S1PHwEO2ISGAyJk8KqcJI9w3Hn60PjLZQBclMlqEfKhRezv6jA4Wq05ArXns7WQN23DmJ8cP16Q6ToDY-KN4SMkPTWzW08D104=w1176-h786-no" alt=""></a>
                    <div class="card-block">
                        <p class="card-text">Victoria + Tyler</p>
                </div>
            </div>  
            
        </div>
        <!-- /.row -->


    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-inverse">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Jenny Lagrimas Photography 2017</p>
        </div>
        <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="/col3/vendor/jquery/jquery.min.js"></script>
    <script src="/col3/vendor/tether/tether.min.js"></script>
    <script src="/col3/vendor/bootstrap/js/bootstrap.min.js"></script>

</body>

</html>
