<form method="post" action="/family">

<!DOCTYPE html>
<html lang="en">

<head>
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Jenny Lagrimas Family Photography</title>
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link href="/col3/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/col3/css/3-col-portfolio.css" rel="stylesheet">

    <!-- Temporary navbar container fix -->
    <style>
    .navbar-toggler {
        z-index: 1;
    }
    
    @media (max-width: 576px) {
        nav > .container {
            width: 100%;
        }
    }
    </style>

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-toggleable-md navbar-inverse bg-inverse">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarExample" aria-controls="navbarExample" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="container">
            <a class="navbar-brand" href="/">Jenny Lagrimas Photography</a>
            <div class="collapse navbar-collapse" id="navbarExample">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading -->
        <h1 class="my-4">Family</h1>

        <div class="row">
            <div class="col-lg-4 col-sm-6 portfolio-item">
                    <a href="/family/cao"><img class="card-img-top img-fluid" src="https://lh3.googleusercontent.com/YJIb6KloZfr5PiRBF15IBSgVy6uivDca9iWkXW1Ds6VGHILA3QWXYozTH7OP336ovujZX_NLzPQ-ZWMNR5lb6HKVSOFTMdCBSYFlA924CXgR_DnOhsxlIGXKwNSRy9qv68Lyaz5RijAmI4r4Ia428eZNvF3fmPpMRgB0k9w16EvzjKWzbFXbPrXIRlJhoVhkKwVM07a6v5RV76AYYb9zXNpVwHyueYvWggeGAZ37ATb1L4_mIgaZtmmUQxftiElZ5BLzYhBxE0AppV44GF17bDW42mmbVY1RbJuqwfPfrrCC5exhyxvr0rzirn71l5V5jQNc47D25DwRTc-N-EQvMhYKL3uYmgiSIPT7ORxXFauaQD8lfOt7VWVN_x-MBiaUy4cDg7WWYkmr-ln843W78STitYN5qk2EoThLCL_IfzWt6aL7TPBx_EHctGCRbtVUKJhOAB8Oo5EErn5AhlF7G-TSPjwV28wL5xNc6QtrP_3kutwk3Y9RZHO6C5famAGsjNdh2NdZGY1wdAfU5vKfi9qy5EQX1vUQ7ZWpbZGagki6FVWvdDUXOVThKEwXFh11f6Y_jfa453LlJSQyO7xds1r8PbsWJm8Y8QYxU4Gu650GqEx7e2JWmuEZ=w1177-h786-no" alt=""></a>
                    <div class="card-block">
                        <p class="card-text">Cao Family</p>
                </div>
            </div>  
            
        </div>
        <!-- /.row -->


    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-inverse">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Jenny Lagrimas Photography 2017</p>
        </div>
        <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="/col3/vendor/jquery/jquery.min.js"></script>
    <script src="/col3/vendor/tether/tether.min.js"></script>
    <script src="/col3/vendor/bootstrap/js/bootstrap.min.js"></script>

</body>

</html>
