<form method="post" action="/newborn/imani">

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Jenny Lagrimas Newborn Photography</title>
<link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link href="/col3/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/col3/css/3-col-portfolio.css" rel="stylesheet">

    <!-- Temporary navbar container fix -->
    <style>
    .navbar-toggler {
        z-index: 1;
    }
    
    @media (max-width: 576px) {
        nav > .container {
            width: 100%;
        }
    }
    </style>

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-toggleable-md navbar-inverse bg-inverse">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarExample" aria-controls="navbarExample" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="container">
            <a class="navbar-brand" href="/">Jenny Lagrimas Photography</a>
            <div class="collapse navbar-collapse" id="navbarExample">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading -->
        <h1 class="my-4">Imani Photoshoot</h1>

        <div class="row">
            <div class="col-lg-4 col-sm-6 portfolio-item">
                <img class="card-img-top img-fluid" src="https://lh3.googleusercontent.com/wP6K8BCaLYmLqz4lG9pX7X9OFBaGOR7gMr8-ZKrV9B3EXwmr2Gb_g2ttGsXifiJ2PcUWcWWm-vlgQp5R7iNl9T7dgPB-nqolzRfe6Qrz-DiRh9COlKOOjUJKGgLiZfAZeTv0-ccoJrmbz5NG0vOGFrlqtKB2B-dLcGl4wOeRgb4sDvHVGRnJhirE4hjPmlzV6Q08z-mPWfXgnE8-wGIyun4NsMJpn0Vyc_Zd-QjzCqI0ricDovgDtaYsc0WLuFeAaqfkxnfi4Xun8MI0NK2ADczQCdXEC75q761NDjDc41hdnAtnJ7h0kQK2wyGlx5WhE_x-5uCOFP_V1-q9JWWbJdoPnV8SUQYuc6ilkkbuHnzj2hxancJ4hX-KhCq23czTi9X10q2oiP8fdTnMSRWTRFpn4H0lk7Y2TkqWsgVYbEW6CbUN6XLxORPzzhKs4RJ31GDeV8LrSyUJrLJIBaazVm7k0X6goWBPBc3XJJtnFNgtlFC6SoiPgrrfDFxyR2atN7De__Jm9xB_1k90EWugAJRh9zMhSFKUXel7FZcDO03_HB4VBSYADLbjMe6IKfvxT8w9BN1-OdiQW-EbTRTiC5Ph2hfaaOHrBehND0R1lmNbTRqr-jSox0zk=w627-h786-no" alt=""></a>
                    <div class="card-block">
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 portfolio-item">
                <img class="card-img-top img-fluid" src="https://lh3.googleusercontent.com/qIlCFYLtAXIx2jF3-L-fF2fcb4AJQ0PWS0-t4o3zgCLF8c82G_CQyfagLTWKFj-QoOkTcibtEAHV5VNMQyqJkHhS5C_S7PhJpaomPFie_pv6z84ttN-2UygqbOI_Rfi0gTiK426IYBdroG5jk36EmgYOXG47A3M8syHBhUFy1_fw9zB1QThEWYa8oqqIesvoKN3DnZ0Nlnd31JOh3Ro_h5XSyFmIK-6ZXNnEv4qEJ3Z23-_nCmfv4MNqNclRchucfYE4e2X_GED-c3RVqCCxZY-n8cx5njCK3Kaw1YM5gX15SYRTEo97DlgMmoT0V-RHQsc3W_m7Y2CecChRSSQsEsNh0Cla9hixspdp9GMbhF6Gnw-_3u6NZxPPRqMQuLvKHcm7kgrqFZinAAiAYcKH86WzJhr5d7-Bx6sqZNXyzdSHMWroivb4Tj60Uuwd-cIH959sgjLWc2ITAAgK_odYOFDc_LXcvir_foIt2m1xkBNbgQl29ROczXWmq6MOyyHZ19wWkVQb43RhAeb6GMun0NNR-bTANRHRc6E3ey1JZDrrDsdepIcf3vzm1-F7Z5GQ5lJ3TQcAsar6d5AYFxB4EdAGw_mXOcTd5eWu74fDCoQGrPjlvZJWJA4q=w524-h786-no" alt=""></a>
                    <div class="card-block">
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 portfolio-item">
                <img class="card-img-top img-fluid" src="https://lh3.googleusercontent.com/lYb2L7FLZbCsjGl2Pmcp7jxkmmDv5-KGEp5bEFav_CJl94dbOPTyMcfVO2LxulV1TTTDMOiQSpMl0izy5vD_wNYfbuKVRgGGxOWQhi2Wa4r9XTT0gQa4NjQVTDY7jHrmeGAihZAKqNyZZtfgLHXj8IMOIKzpsQNGVti-svySttFh2ZhpC86aoOe2ybVoLSLHgj58M0EPDlc5_iQcLUhEi2p-6ym52OvlYS7nGVZh2Bso6nLV5B4hkkUU9hEKpOWDIZo9ZP4Il7P-1Zcy6vutfYRGqwuhaRqwYRlDliLdZy1RG1lMcNPx24wXTHCJ4r3qBdiTqutNF80ffYRaJmU7VABkBfKyDQVyoSNX-hfWkDj0PjQ2FMzHQze-yC-xPP8Batc8CBh4ITgCRFgcy7oj_S2hLzMfvCJIIz0HJjRb5ZGEpeWGVgkF6sPvtupJrELFxntdE7jOOZ22_8kPhLm1Acc3VoK4RwYDL2ypToscE36ySBtSIvQaZNoUm-4XNpDP5nNg1y0A4Xa8nW1XeS80Xb5fIb1RFEMPsKzsF91GkJEssHMGFLRe7QTpoZERZqVszKO-z2sEz3hHNSqKSazIayYmJFQ5aONB1QU8KlrtCHdEgH-YZ-oamPgh=w311-h392-no" alt=""></a>
                    <div class="card-block">
                </div>
            </div>
                        <div class="col-lg-4 col-sm-6 portfolio-item">
                <img class="card-img-top img-fluid" src="https://lh3.googleusercontent.com/W1_l1osZfT-cV7p2EW5ShtzwNdCKcp9O51aMCwy_RF1OIO6rVRVU0kQB0dzgLvGiUbUYCZE1YNiC_ChjhGqE1NDvTBg_lcluCFXGViG7Xb4ac7npqAsdn23rOgzTDScm5UyHrn6AnC5YXjRvFZivUogpht7on2YBdlbTgVXZDQM4Tx0g6dhizdY3cbjYJGZzSMjjtP-eY711jn4tgIIG1kDS0urg_C-SeFJOrGj9SkcQLeWCdS2bqM6IZ4yid0T1DKorjPiriQlKh8a9E7b1IZvTb8i0NxaqUtn_LUFECZ7Ta33ZHCxMA07xgH3XWXoLPV_p1bZAEs5cmbYICi1gcfaOS7F7K2G08XqSwD7vEO1lqiGXfrAIarsCNEH3v32NmcmbHiGzoctIj4Ub9SFlRH-URoo3oHAl8xToQE8MqDDOZTmf9S2qZVnSs_27i6L87hPisqbnvijkd_A40DLLXnnKjZyuJnCUo7_eUg5PJH5tFLKL-po5u3Zeo5VA8gldW63YDzZlhhCICQ6KLiooJI3AfRzuDGofkamBTj0xdUKoEgQOEJfv7Qw_yQMpGlvvJZcB6F_rPp_E5UhnHJfBaNM6MWoxMoGVe_s5-BATY-6hjZKsYUthItRk=w522-h786-no" alt=""></a>
                    <div class="card-block">
                </div>
            </div>
                        <div class="col-lg-4 col-sm-6 portfolio-item">
                 <img class="card-img-top img-fluid" src="https://lh3.googleusercontent.com/rk7k7WgomaaS9SY-JAsG_LGwHt56Qdl_R6teYs7RQJbJEX1laX8TbsUXdqLuVtmhzSjLN1EmbTjGiaQclLdG4O8ejy84z6HSeet3VDxIMnc9Kx0LUCLDsToUeO4fZMibI3or0PdLC2Odck-bfWOEYbH6aeSrf720whMBFbgjXK8RDck8EzMJOJd0kswSRnO5JjQulO1MRoSwYwONEB6T2xJujAMYopnH-890Cbsz8NMvg4LpebH0waL51J2e2QNpLMrJNheumP2sh8zYp0BqNZBrpz-gAkk4eJ8rUICK2Q-rSHqoNbj-nBvAq9lzaY-GnPTxW33sSNwX_OQ5N8jKY--s_lTnkiv5sLnMvb9DUm4kLbeQEYnCyvNCb9aMp46Nzlbqr_IvdaxL6Kzsec5CFCAPCvh7C1H-NMvloVymfw0h6FV00pWSyhCP27CDMuPbS_kWgzGxdIvJQf3lfOSa8IFcsQc4pBDJhyIltEA8ylpJ6VB-r0XRCHiH1pMxbplKclJm1mKNixg80xNoPHWhZYcULA0E7C6cCalfDFGavM7irtDqSFnju1L8Xrl2Rb_VQtRp3Lvd4CkzYpltIpRCNgJhlSyRM4Q37frc2j9WFVyb1UyppbP1kEIW=w602-h786-no" alt=""></a>
                    <div class="card-block">
                </div>
            </div>
                        <div class="col-lg-4 col-sm-6 portfolio-item">
                <img class="card-img-top img-fluid" src="https://lh3.googleusercontent.com/OzYtL76P6vGyniyAFyXpkvp8x0sI9L7Y1J5opZJ7NR-pFQ1hAeTm1FCN7A6fGHy92oIUWtH7i_sJMgvyUXVVsWZOw2fX8_qdNe5geyaKOa82W-Y71lnKxGrXeOyztcV7H45OIvRRLLbcLXQLOFnWvb9LygHit1ZkPz3Mlhe7vVgGnKh-CiLpyQT8_lePOv-X3vkG7jhaagcUdGTrcAc-P634OHUzTrplOAmZnqtaye1lb241-esvkmHmb56hqwAr-h-EigIwIo5Cv7hyP6Mer45Q0jf5VwpyQTJlzJbVIC9Igggf5nmFBm8gB_I28Cmo87QofY8bCO5wuwsAYX5WRjxoyiol_mFKu-ex7iSpMOrxzD18GoNam6PZ5jwE1FrxOCjmPf4slVJ7LP2whDRdByA4tEy43C9ix37GJml849FmxExDlzPT-hRDAkNlpY9OG5TJme7HehMrv-haTgJbI_fRsg39MxbeyTBxI35jWUy_mgi3GQHr5KV-YRkxH60TlL0y6jJW0Y7opcE8K4H_7Eh0Jua32h4-1be59500O_IehRyga3suHwuqterHESGl-ZFqt7XvCaer6_UjM6XZUlhys9TLKxJT42xVdJZtZm4F7C8t-CbTzXGn=w558-h786-no" alt=""></a>
                    <div class="card-block">
                </div>
            </div>
                        <div class="col-lg-4 col-sm-6 portfolio-item">
                <img class="card-img-top img-fluid" src="https://lh3.googleusercontent.com/vgydHmCXTf7UH37E4vyl91pqHQqZSJvxhpb3Mal2ZMBPKioTyfcv1-GgD9xA4jTLv-8aU5n_iKWRT9WMS8X1BlLaXFz-ADazbgNnfhBhkADEAqcCO0kleKd_hceghyO4pIsTNWHwE3W8K4WdZLYlDO39lvz0yCwhVuNgnpSe12-c6b0vonGahfqchCG_6XlKHTpzYnF2rqmr5bPgOViLLvG6JSSeFfFeTtvbqop29GpYYcPsRb9ZT3qpiAO7sz2NIF8y07GWPcGBhGe_nDnDwqsKUeWtAffsEPzUa4SAujAPT_lsj0v28YhqXhR9y5ZSlTVU1VujDN7qIw6YZ4vSFyEJgtypT8yY4-24EC43qFG5WGlb5QOzJcUaMXG1ek_cnBimcjn4srb58LdaUcin1l3OjqXjZ38RJj_tplLsVuzUQQwvCawvkq50R2z8FlYMwLTEDW_jCrW4AJ-B5as8dwfZoFD3Xv0Wzn3-MCu7T2XJtwhQHhzXQNABkE3Xy0Pe7qh6IOlK_4vzK7H9kBiGqq_BMxHj5_X5kFLxgr-OkCSkeAGNzrsgWcgkdJ-IKPMrOjzbFb7zmX2isAZJYlSGjtOuG8PBbaT-uz-S7SJvv_cXcEB3i1ds3hT_=w605-h786-no" alt=""></a>
                    <div class="card-block">
                </div>
            </div>
                        <div class="col-lg-4 col-sm-6 portfolio-item">
                <img class="card-img-top img-fluid" src="https://lh3.googleusercontent.com/EqSrvM3tEaSqlvqtVMJvXfD6x5ZReJ89c8wJhN1jQ6NN9ocIe3lh_AKl_Dq4SCuijokXF174rkxyR3qvDPudwriUbgOZp-WZpa4UgDc-IsPc_wYxpfKAGfnEsdZz1ZjQsk31Yp0v5SoiIhqOPuo1KSqdpzChWq8TtqER4kNy4katGCuITJvifHD-nKDKcqoygQwdoBoPeg7haSLCNv9Sz5EVktG2vjIuS-VP1FMR9x4AEB2Oa6jThS2iane0EqXVpWgLL7gBC1Qb5XGCew3w4ie9rNMsTUQ92zQFJ98LlWHeQVlqoStr-msJUt4r8UE4JFfwyUUIDFNB-L9Nvy_d89h_YrxOTrAit9cZC_UiPA2rGKlDKOg890EYE4sfPa_hfC-8KjaZXGIXZkSJrAyxWxv8CqvLK1Xd-fJuNmydePt5llcqkieCOKUeBXbRnUZheSFcLf2oKkGxxcSGN1C25wKgtgfQiUaDQgXKVlYrvmZ57Yh1Qf0jdNv4W-gMGPs0Hp4bPD42zqc0_LsNlfcOzuHryp8Ef8H-VJpetuGe9u-oHspwDGu8KjQqCJHFoqaFtNpDGGtM2KMeEuQKJNkBz_p9QokKkV1ziFmYaBWAhblMfkVGVBx2Hle3=w1179-h786-no" alt=""></a>
                    <div class="card-block">
                </div>
            </div>
                        <div class="col-lg-4 col-sm-6 portfolio-item">
                <img class="card-img-top img-fluid" src="https://lh3.googleusercontent.com/X4uToOwbguw432O-PfaRNW26WBUGY17j4PGpDKWHF6M7aZQrgCabWw8uEzBKTtykG5cZGDeN1qv2MgIEBh4tmR8yf6YTLSP0SNI56E9VoTOwnxdGTydkWs9fSGyKhFAQtA_s28s1qMAhq3dnu1swgId8aelCm1kAvIdDFYcB9g-LhgIpZ9oWrE_UtAPQPGByYYGfvOQiTav94FxTAsfapeIYvYG7xGGUKhc6wsqnallhRrZ4LllgFUR1ON8n_pu-uZjRp8lBsSeiv-4AtTH5rx-Gf8hBODTFS4ZbKwZevb7-poiBuatH5uPfnWWvBOF24FB7z2vrn4m1AfIOHeB4Afg0KhnJ3E14EjXD9b0-2y7SZ5uCtcox7xOj8XDakL7C54jpMeWGdFjYoxjlWxBXROp7ksjKyl3CYcLcqTcSQwAh8j4cAGSI-qjIx8z4F5Eo3g_m9A6fv9kWkYj70DWGLAkykj1wk34mFM5BjbHHqncTLTKs9GoDXmeNxIsFFBFUHPE30Tsq4xQE4prfziqlerKvjdztogVaKWdd7G8P3yuTGwgtKlUESYtqLwuEPS1ywpyetziGjhXQGXpBhA2XYWCFxJrJbc4ltxhgsn85qrxsRHODBIwwL7mg=w1179-h786-no" alt=""></a>
                    <div class="card-block">
                </div>
            </div>
                        <div class="col-lg-4 col-sm-6 portfolio-item">
                <img class="card-img-top img-fluid" src="https://lh3.googleusercontent.com/9qvxwvC3xxy2gawH1kz-oEByg4Uw85Y5p0nNJdlwJpAQ8nCd3TpfdDiEJ8xykVoZMi5vI6sUEJLbjMuagmu1wPFBkwZ2y33P8lHwna6Imxng4ti2YzyS2s4J0D3YaV4IpTDWFRdl1cPRiwMTbYtOp_oEEjvAL_8Rgpq0RdKgWec01qFTg4T5xoRNHIWASn9SxjitLQJq4TiJRhKWL0yPM6RaQZWTUBs59lAsOZFj1t388tOYVBFDiQMk6kzBgm4slEm41PkotNhB6aGiKs6U3UD4DiEFMIfiLPa4RjbHJAKJPNXHZmhhr1L8k24XO0UKL2FSUDnETu1PSXtTryDBS9y-QL-LSScvr_iGnH4jridx8DeDQwtMtSdl_1vEz5q09kYtffLg6RbZvSuPER-JUJjE0lTgoIWAvln5s4SYIXp7DxLO0aTS55uf1OK_kKU3g_HPdRt54oVj2Ndbla0YjibwP4Kw3ZD-LDyLL2tRt5FP5Km7iBywRFPClnZnHQA14vSiV9Km6ukj8vfApSSkDFKBdE2jfYnak5CyzoE-6Q8cXU-X6Va86uCEl6YO2rjFOptA_WHpl3ovJexNvPjgfQBpztep_m37w90QmtjbhEYHRcH_tpQmVqCK=w1072-h786-no" alt=""></a>
                    <div class="card-block">
                </div>
            </div>
                        <div class="col-lg-4 col-sm-6 portfolio-item">
                <img class="card-img-top img-fluid" src="https://lh3.googleusercontent.com/01OROUtHfMNoulMeMOFFG0M-zKjP7KQg2fb-HiU_dTzBFehsAU0eXb8DxNBrLIYGgB9fTzcHRlL4c6-DzD-w9OuhlgIMrnIgPAFQ1Wph6xZj421D6Kkku541wyHZeHWkqIBlEKTtn38aDGkCEbAv635yDVWkQv_2Uc7dWVBiSZSFVdpPiCqsQi259muwwtUJhnjDdRntHH6ruBtkxUMKqXqCkRkE2t8XgetiyyReMR9ZN_71PpJ4XkShJnKVWok6r-juxbl-73AQnPj6n0yTdgArIjQGsqrq3-G8lKWTpivcdw3oA2f1TIIF41_9RnWze75uyuBHmh_yjpHYmXSqxTh_8WHnbLbHaq5nm7BeSWOfCcgJpDXemO8J1TgRy2eyWIehORuA-UHocyve9Bah5B3HtON_dXmvNxGtNAgyo7IszOvhun7by9Bs20vh9fYMKJZOl97IKLa2PxMFHyBru6VsTO7SG6T5PQ1bYJE9Ito_4QVu8IxVo-thEqa7Xm2oCFZMl5kotasyNyACyOlJMBtFfA43a5uHycIPO5jR4A4fpCvLtSBc368Z6wiRvYwRG67EgHt_nWd0txwDkOsA1lxt_xekBrYok3H2LsdKxkvU0CUGPxeZl4q-=w480-h324-no" alt=""></a>
                    <div class="card-block">
                </div>
            </div>
                        <div class="col-lg-4 col-sm-6 portfolio-item">
                <img class="card-img-top img-fluid" src="https://lh3.googleusercontent.com/UmNP1lF86Weomf6FOYkMol-NcXuoDvUthrIYIivZtD8uR6_hKEkhAlzhyROqlP3wFteN5UvwioEKzjkqyTMw5berTQQJAMlxpxIIAG-qcYdnBtAsMy7qerQj3EhhORSoXGwPV-HfiVoK4gCFYlsMZ4DKOZQAvD8q837gIT8KYr2DRpu7-I0ifcdHRrjAtbHrySGd0abvxxFfhjN8ky85jCeccSOBBgUKpT6Qj-1h3U9JMlxMlQNSXxrdYmfVe4Khomz7A7YQfQzMUGSUUBbJZLYWNunI_JldUykbcE5JWnvnhskT-oQTo_MoUSfFarIkO0N0yIxEOwAhaL1mRaSfIiCHV5p-8nvYQXXuhYSQYr60xpts3sBXYfvl13vf_mS8chNhMmE2PSxZ7Tf6XCFtrs_aRXGSbidZZohxYYXteplGsJaUKKbrLuX64ZuQOzeAWGk7eiHel5ZBzTs6U3Q43kCxBKLnss5GD0sMMzsYzP4YMi8YJ7DRBWSIp2_Js0CADihOKA_355TByFdu0h7zmMWXZc66qRqxGjex1hKwZq1n61H6N8YyiPW_K1uhhNvcL8UJUvWsETMikaOuhPcB4iR9u3zL1JypRBseYqZPiTbhnlVwwAnwRZPe=w1156-h786-no" alt=""></a>
                    <div class="card-block">
                </div>
            </div>
                        <div class="col-lg-4 col-sm-6 portfolio-item">
                <img class="card-img-top img-fluid" src="https://lh3.googleusercontent.com/P5oI7VerdBCLu6S9FpFdzOC7KBbn4dNQCuaZARrNjBsMTd-iVgrsHizcBw1MlQ2EDK6fHYiTJZt7sz838yfSwISQ7mv9agtkKRuRPJE9IKGiGu4sp_7ptNRPpROdnw0CH0QNneIeXCr0cR1JFUz2KUqkrZnx8M4DhyGPhAvCchHoxQrl-iuh8YuP7phAwekSe95gT-zKaMIs-euc4HypTH-TWkDeWKfm_QXJyKZftPzo6nQdaeVXTfNIc-FEwy6hwL1RIyTe6I3W4KhpHp4pM95FuXrfbnGK5uQfWcXvZkcVyw7PcD3t820o-OBVsa8VTryPmbf7jmHFziRN4KRdqd6Y0xNMHjKd2-qgFNa5jZJGaoyDo4vlNn6Wl2cCTNOMdxLjOoScThtpyjKvoOxvjk-sz_hlHpnY6SRdk2W_SMjHl5BpxACZLuV6RBHxNY_5zYDnL7Ua1BeqVejrspJOf2zURkvJXlAkdJZBTWO54h63xdQE7anM6v_fBwXNeZfpHp9jDDiT746uyYbWnA2wtAfnRxcIdeD6sPVZ0GUl2ngJc9QoejlQpeuFwDdv1Ik2dj_hWomCpH7c2xpBL_Kv0o0z4RrPa2wkYQzQE6uzhS5QfnT6YlpJahYu=w1141-h786-no" alt=""></a>
                    <div class="card-block">
                </div>
            </div>
                        <div class="col-lg-4 col-sm-6 portfolio-item">
                <img class="card-img-top img-fluid" src="https://lh3.googleusercontent.com/g6geo91da27OR_VzPVBIwINrEKO9Fk1AWt1sorPe8_2DhqD1JPly4PkA7vkwH_vNkdyaZrPi9vQDwWzH69ltfVf_pQBACR3WuCF6Eyg31WgzYTkzmi34oPXKpCHcACRtXKncg26XJww4MstTMjtr6Cb6QK9i_UnFgp1E4Hwvd18CfiufN9bkezjsSSPlg8V6q9FP6TAxa_cYyK3yWfP8rb5yeF4inb_J9KQ7QgEdH3a6owVNpXV1-ZGGGCyh8qFP87OYa1R1oNrxsqOdlH8yUYOCbPtPIG0pqrn9H6mx3OGgqQwvInrMynst9r3QpxRdB5FosTvZPWOomivgeIu3JOB4veh4epzqaT0lEFOa0tsAgfxtzSPQCUSmiWfXxkeh84pjdKANefTP2hIXmkITGQxOXByAFeL8it0RKFbRgmPvaooQUYaT2YVBdJvp4AYKlCac3lG2DD5-BCOPRCFZiELSRntAXmpIYlfsxlSIbcAXCtKMOyI0yoYZj-lRXv9M9fzu0ZCZEUb1cR3clNDULUI6Q4RavkKxAs3z55VawmSpbMtxCBWJM-J733JkvT-0kZOtVcjOnqWb32utWBd4df0uYarrsB6utcKL-_4wnIFDBYyPRU37ScoX=w1107-h786-no" alt=""></a>
                    <div class="card-block">
                </div>
            </div>
                        <div class="col-lg-4 col-sm-6 portfolio-item">
                <img class="card-img-top img-fluid" src="https://lh3.googleusercontent.com/OlU5aH_MQIK5FGU77WczkWvI3W1ccvMHgA_haLljjP1D_sJVp2fnLQf3ZmEmnAd6Zm25WJLGuXxqrA2pN7zPrvRQ2iYMl3MC4pahd9EsIAMM8xP84ckL_mEXy83I9efRz56C_QQXtKIVCqUoOR5CiFp_xFBThPNQP9ACytclL5UUhCiCAClSQtSM80CYUGp7zoOe6wJpwI4XrytTzME9OElveiFhwP0Gv14JHDFSCIj2Q6yTkfZwvrg4gLJS4tdGEvj_Gav02gj4F6lH6QQAFuHMrrTx3Dx9DtNX4F1PaYn4igm4-xirYrL-OEhzpdMpI_ntYeuoNN0FEL-oO19oeLjaqElXFHHBFSvjBnfyfRGUxDhR6BstI9HJuoCCY-uGrKOjz58KoaJPzYpaGUVL5sIKpEoOjTKeurYpMiRpUS4xC2hYJDF5Y-qAIvOKbk_hmlA6XNb49fbp-C9uaAZa_B3ertlMbcK-7K9PhBa_o7bdselci6z1Xu4hyuVCt4j0f7gZR9pyQnsCc6o8wBjPJBSeDx8x5VxLMSRBQTzDwk1l0TdQIaBOLPcFX4N9jjCa1BeHNrtQBzvq9TdjMCX9XBa_vgYMiPTRHcP-CJdWhBa2d3a_KO-1mCtr=w1108-h786-no" alt=""></a>
                    <div class="card-block">
                </div>
            </div>
                        <div class="col-lg-4 col-sm-6 portfolio-item">
                <img class="card-img-top img-fluid" src="https://lh3.googleusercontent.com/PWAGYnxnAvAMB7cWUdWe1gUb2dHsm18tPZMkcv201V4mHx4inX8BXOAtMk31AukchpQA5eli2CF7jtJ9No6Pt0LqOWraMxYOAPc5dKXQfkTYmZ0lqMi7YpfmaL29ECpmGMeAANSDyZIG3ezlyGFbiGJ6iTFdK_6cot_obmpTfJtn0ua7pkEkoUwdUwIu4d1NB3MlAzok1uBPhMl6ceoPb2FEFJONsa-if-ar44CWTNt4YVSiYAl5OIwDr_0hq1-VgBBV5cxtIKAzAOjpfRRl47Tl2YDcPnzrqQb6Yy8gRSU_xXgdGrvgVhyCspd-f1I6MnPDiE9rT4iGIsT4fRBfntKu7HWGJ2xlS-85BPkehXybTO8yMd3H8fvGLQ51132fX85MxJ_uzKENcbYUIQNuwXZBNtUx6g0p2QAeQMQb4TE7ls0omp02C1wzdoqAOMhG7Ds8gXtDx0bccfXK6E-xIgGwWXgeCkH1CGQGCCQMBk0O1sjBgrgcnI5BhryEzsQdZqvej2nxmVqiyZh3dlo01fVBAEZpeScRYrr7qQNFLg0dcmVa7IzzVnjeRnuFJO3kZjUzUwlwEBstfQTkbh-0BGRIA_p6z41I3-TKLkwnDO6lqc2lJgkQrVvW=w1137-h786-no" alt=""></a>
                    <div class="card-block">
                </div>
            </div>
                        <div class="col-lg-4 col-sm-6 portfolio-item">
                <img class="card-img-top img-fluid" src="https://lh3.googleusercontent.com/sY7rGR-h5DTcr1aiqmZzHS9uVfChkCFrngB_ZOJoPgF3nLs5NPtAqOMEq3sL3sUWAnd91CT3mjuZY88WfpcH4Km_iAGc3c7xiyGlFxKIEAkHgZSRhkJftrigXz9WMLITYnWB7aNxo2DxGaLsQL19dG_NlIi3dKA0ge5FIGOVMhWD1P6H8AzTPV3FzTAUIEfxbCVVw3pP3Gi0IFwK6oiSfjWYXfbsQxKy-VVLPOrCKYFWkjuUTXwIiN9TJDWjxoGg7dN8YdHYBHVm5oqnxIqdhHGqvsX8W1W7Cz5UI2x6L-XfUHMefD68y2VVLlOcMZTw36wHZ0kqS_QpWyvFLv_xtenk4x8h7mYKY9ZX5DWKJdmMQo1MgFJ6_w9Ik2uDzI5Y4G2kyxQfYz7F8tsb_umeSw803lvx28kpsiO3RhKikwI84JQSSboNELhrqimr-2UqscbXXM-ZRZcj0dLUS9Va5jqJWLOtybOenc7hV1y9jHH0HzdGvgXoTXSqX19F5n9GYkffsSZhZ1XkK6jDISes1w11FsbMu9Cr5-dh3CKkb6AJ89Q4AOI4HDcPHzVmHe463hfj0HB6PI6oaUjXVZfJMqSc-F26PK9RzWOl96PnKv2ge9uPPEEHFFWq=w1179-h786-no" alt=""></a>
                    <div class="card-block">
                </div>
            </div>
                        <div class="col-lg-4 col-sm-6 portfolio-item">
                <img class="card-img-top img-fluid" src="https://lh3.googleusercontent.com/tXStmOJ8InOK8TwzE7BJLbnnA9Jgp4f1Xp-pAMLpUdJVaWwKfnv_34SYuK4huDLENamWmCPGIATWWT5SVaPMFSwiNAjT0KqkS0lTd6mVLHj8cO1cSbbkQupCnHBYFeQdBT0eKKVj3VKkrZqEdQCMaS5_nICTpx4rOdLhYy5L3-vtPoYNqiuNsLC_YMegBa3_Uj3CaksYOdLXfYMBdqIhsOqY4z3pAp7dPCInc7p5Xd2Zw9OACPfg_9QqWEiw-u8vjpnUWzm4UuGXrP1IUBTRtK0Dy3C9-INNMYVL5Zl1ImVgBuBSOPXffuBJgE761nLEuKpW9WATrbEMohNqemXclryqlAgXcTjbDaCG_UGwu8MMBstqgCeAdcHfiqxY2gCT7C9vFjJu3IjGgqKtgfJrGmB4XSgVFhceq49tyNrDFceydDpiCe9TlA4jlrNOPiAhzudOvJCuqmtEqtx8S-v41ZV1UnV2iYjk_skH9-woUDMdxGxbo-1sxVZoDF5uUv8fitbwB9Hw52rM5AcwkAtcQpAT98O7LaupX_rV5tIb3ARTMWT_QhsCqoGELk1VD2QzfOxKpjwzT6SnRV-fWc9iCCVfxpfEfHE_XaZbuNsS7xgxbW9bfR629WII=w1262-h786-no" alt=""></a>
                    <div class="card-block">
                </div>
            </div>
                        <div class="col-lg-4 col-sm-6 portfolio-item">
                <img class="card-img-top img-fluid" src="https://lh3.googleusercontent.com/lDQwkK5CprZIQh9LYFOFkz3-OnhSSPs1HleovC5qnqb-XAKEsFLgWutVzgv8Czavo3mNeS1FqFv5o-MHt-0DyMQ6CWp4ZFp32BcS9ClUEkAgVrK6H13AUH3l2VNFMr96O3r3Wd-UmlRrMbEny-ebPVP9lKsuHk8glVJymCi53bFRKwmxN3CwXURzIBrntH4leWxG88m1IWPLwbj8aFpNbJaNDagIvY-k0xHhQqQjTe7YMpuvKD8F2KlKo8PsPS6geHZaCkvnmoF_7Et18nEfpV-UMV-1PjC4lh7frWXeUIyYQiI-eCAZZKuWxlFmZHwUmIy-ohH_Mlz5LQjr5wfvs8xjLuJJ95qwXswR3r5UdxS4f5tvLnLdEZof3O2MguqQqoFDMJnzfasl2hbjMJuEtXCNdjaoG98R86X2aLRPQhL9uXHs6t0tjbjmOO5CJZkXbt9q97d7xO1Z6HJ5nqQGzls7xHGBUGt6SRCt9dSkGHdO5pcW2Zr6yLmqfg0m0n06nwj9QefEyUdSQ5oqjMy52OzSok9GXWtolVAUTPVWCaNwIH9w-tnastaBCXgcL5pr7b_NX2edAlsv4WqguKd8xt_kwk57Y7PLxBat8rLIo7IZNOf5gaK6Of4S=w1165-h786-no" alt=""></a>
                    <div class="card-block">
                </div>
            </div>
                        <div class="col-lg-4 col-sm-6 portfolio-item">
                <img class="card-img-top img-fluid" src="https://lh3.googleusercontent.com/YKAE49sV76e8KxGJ0vJnBYndvgZm1D1oflfhJCnsu7GD8Y742NrW7LT7-2DEVI3QtsivP1kUqzZhTdDYHgXR6Loigl2KqNi_VuCfb8-HeeBDUzz_-6ja6HV48HuIPgQZORZgzVVJun4kY6tTSqwsNWiRYJtG-RwhvsPU5hsOzHUhQLMLsipbcoMp2upJ4LMMwEy4vP0-19oHlqodG9ErEZdtZvh69j8p9LvAJfxYSjKvVDpnPq-Al0pFa5n3O_l5Au6AXnGL72DjUD6AfTUievTySaUZUFdsDKgbXyPLCU1rOkwMADF_omhUIu4jsAFtwcaHVS1E0ndHgT2e3SKk-NCnp94oXNf_KeUvAiqgkuP-XllGKo7Y-6IEzZkCklgrl31tAbp5exRPlmADNJdiDfj10fo8Pu0aQeH9bjdT2HK8QFCLhDH49LV4dNv9SB9RS8tTXr8Z8hgbB_CmoXK0zi6RzM8xSno8qo4DuPrJLzDCfm22D6RJXzI3l5ZhhUPGUXnrVvvFBb2zTpk677pIo-zVB5IdAyDuclz-WO2DdApf3tsPfc_OyFEqYlVgKR0tiDrP-w6awcbkeo_hucFrhS_wN5w8ADsaQzDFvqysrtNTLqItCF9_jw8V=w1123-h786-no" alt=""></a>
                    <div class="card-block">
                </div>
            </div>
                        <div class="col-lg-4 col-sm-6 portfolio-item">
                <img class="card-img-top img-fluid" src="https://lh3.googleusercontent.com/ZPRPrT05mkblWLJs3ULWJpzaPrXW4Qkd0v9n9xwIGGdEbqGoGuQ8krLinhAtomXm2RRFSwC3ZsvF6OP5kPTi4Z_3F18KqvMzewoejM1UymQi7GA-EMl1s2ac2gRxHE--gkO36psiaKs25pEZfFSMJR5ExmTDVfRK8jYm4A2pOsCH0mh18oWdmLC2lFoq0-RAcBiBqiocNHM6sdeaz9NVfC3q9lbKXS354W4Rn8Kr7PN3qw9NtWi2WHX5e5g1iy8RBoQDcyTtjrYMYfakyYBRvu9UkSkFmVrcCQVadmPPb15EswNogJgTLbcRWB0FPVh7MBrM8wsKodI4CcL_nIIl-UgVVpdX4mMSJHk-1iSKpNdkHmJw-wXKplB6l9H161Pl-J62QNiO2H9yEYz9miUbuesMys__UyRy03DeB-LG1DVLBDzozyVVsx_yuSknws7SVn3mGt0Yic30sSU0h-4oqPh3GLiw0Pdllt1SbzK7GO4oRnAcD6rTvaffQ6bKLgJgqRwF6gOlDdSQlT-1qd-d175aym9kbR7MoFO16ye4V0TYOau0ZZfZb8Y3TjN5NTPMCCJVC33B3g_nPtV0UupiK-JLzH_p4L8hA4PdDOEgI3BQMSJBvjCJCeR5=w1153-h786-no" alt=""></a>
                    <div class="card-block">
                </div>
            </div>
                        <div class="col-lg-4 col-sm-6 portfolio-item">
                <img class="card-img-top img-fluid" src="https://lh3.googleusercontent.com/TQcVu0cjr2cjBxVZ2qUR564F6envBFZvb6Z00qgGVmzO9CuUglsVKB2rjKRBX_Uv5OehZeRcpfcbsPmjiZruvhV_j0f68Ay1lcHvCKtaqDLIWW4-IxH5dlXKg7baBpMqvNJLMVhsOcyqafj5gbtSvbeD3-tPC7Olhrsf-TpxMyX8fuypseAfG2bCxzjn3VVExRfjA5jy-3IrvE0ByCKsi9P_76PZq4OVvm7v4u5decsNMzKRjaNUmH9NcPmOn0To8Lkg_rVJL7WqamFocCILI3XLHA6p14XABgd1JJQYdorWuiX8Hag3vMgruFpSPLbxAuo60eTMQADE4bczIZU7Gky3Z9x4l3EPxgjnnfJB-3a2-uZu3G5wHoHi-b3agj9rxA7052RW4w9O4nimz3YahQA__2wtKuT5ayUBI7mTbQmVug7bnKPW1_bDj7h56iSg9U8gch1seV0HcswRezymDiuDNkGk5cs6pdvuSgos626nd1BKcP9uYZhu7OroYTHJjlwfzrUjiLdApq_bzA6m5hcSFZj1prq-hL_ZCJsdF6GCoKCF1NNYK-WTTWfGAG8STwqHNDgVVS2bgjZXUvekP1EhKnagT4qDKpPaZOujBm84rK6ooq0kiAVI=w1179-h786-no" alt=""></a>
                    <div class="card-block">
                </div>
            </div>
            
            
        </div>
        <!-- /.row -->


    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-inverse">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Jenny Lagrimas Photography 2017</p>
        </div>
        <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="/col3/vendor/jquery/jquery.min.js"></script>
    <script src="/col3/vendor/tether/tether.min.js"></script>
    <script src="/col3/vendor/bootstrap/js/bootstrap.min.js"></script>

</body>

</html>
