<form method="post" action="/">


<!DOCTYPE html>
<html lang="en">
  <head>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Jenny Lagrimas Photography</title>
    <meta name="description" content="Free Bootstrap Theme by BootstrapMade.com">
    <meta name="keywords" content="free website templates, free bootstrap themes, free template, free bootstrap, free website template">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700,300|Open+Sans:400,600,700,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/index/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/index/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/index/css/animate.css">
    <link rel="stylesheet" type="text/css" href="/index/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">

  </head>
  <body>
    <!--header-->
    <header class="main-header" id="header">
        <div>
            <!--nav-->
            <nav class="nav navbar-default navbar-fixed-top">
                <div class="container">
                    <div class="col-md-12">
                        <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mynavbar" aria-expanded="false" aria-controls="navbar">
                            <span class="fa fa-bars"></span>
                        </button>
                        </div>
                        <div class="collapse navbar-collapse navbar-right" id="mynavbar">
                            <ul class="nav navbar-nav">
                                <li class="active"><a href="#header">Home</a></li>
                                <li><a href="#portfolio">Portfolio</a></li>
                                <li><a href="#feature">About Me</a></li>
                                <li><a href="/contact">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
            <!--/ nav-->
            <div class="container text-center">
                <div class="wrapper wow fadeInUp delay-05s" >
                <style>
                @font-face { font-family: Frutilla-Script; src: url('/index/fonts/Frutilla-Script.ttf'); } 
                	.title{
                		font-family: Frutilla-Script
                	}
                </style>
                    <h3 class="title">Jenny Lagrimas</h3>

                </div>
            </div>
        </div>
    </header>
    <!--/ header-->
    <!---->
  <!--  <section id="cta-1">
        <div class="container">
            <div class="row">
                <div class="cta-info text-center">
                    <h3><span class="dec-tec">“</span>Everything is designed. Few things are designed well.<span class="dec-tec">”</span> -Brian Reed</h3>
                </div>
            </div>
        </div>
    </section> -->
    <!---->
    <!---->
  <!--  <section id="feature" class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-3 wow fadeInLeft delay-05s">
                    <div class="section-title">
                        <h2 class="head-title">About Me</h2>
                        <hr class="botm-line">
                        <p class="sec-para">“We are making photographs to understand what our lives mean to us.”
— Ralph Hattersley</p>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <!----> 



  <!--  <section class="section-padding wow fadeInUp delay-02s" id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-12">
                    <div class="section-title">
                        <h2 class="head-title">Portfolio</h2>
                        <hr class="botm-line">
                        <p class="sec-para">“Photography is the beauty of life captured.”
 - Tara Chisolm.</p>
                    </div>
                </div>
                <div class="col-md-9 col-sm-12">
                    <div class="col-md-4 col-sm-6 padding-right-zero">
                        <div class="portfolio-box design">
                            <img src="/index/img/port1.jpg" alt="" class="img-responsive">
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 padding-right-zero">
                        <div class="portfolio-box design">
                            <img src="/index/img/port2.jpg" alt="" class="img-responsive">
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 padding-right-zero">
                        <div class="portfolio-box design">
                            <img src="/index/img/port3.jpg" alt="" class="img-responsive">
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 padding-right-zero">
                        <div class="portfolio-box design">
                            <img src="/index/img/port4.jpg" alt="" class="img-responsive">
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 padding-right-zero">
                        <div class="portfolio-box design">
                            <img src="/index/img/port5.jpg" alt="" class="img-responsive">
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 padding-right-zero">
                        <div class="portfolio-box design">
                            <img src="/index/img/port6.jpg" alt="" class="img-responsive">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
<!-- Portfolio -->
    <section id="portfolio" class="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h2>Portfolio</h2>
                    <hr class="small">
                    <p class="sec-para">“Photography is the beauty of life captured.”
 - Tara Chisolm.</p>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="portfolio-item">
                                <a href="/family">
                                    <img class="img-portfolio img-responsive" src="https://lh3.googleusercontent.com/09gnRi5HWhyCNilISU6KA0Kh8Cf1U-rIymvSrDrVHfF4-R9NSE_vo3UqQ_Lpauc23aN4bArTnjFdXIlVWLTmj3W0-7MQ166R1x1UMrEmG82Vn9xVSm8b0wsN3WVQ3u_5XGoCWIRlxUDuBwHSXIsg_891XJ9UegQdA7DG-r9PhTGC_3A5Q62kC8QlumnxWWm9VeCFfSRY0gurhwZjxGhgqjXAm27dULDkZp3jE3a-E9R-dVoJ2ySvwSgWIWMR7ZS0n6mDi7jah7CHp7Cm8QOWIItoSjlkKryRilBaTgZbuyfkat1dpvhF00nqE4GQNrjk2XbGzsy-dCeVawrPl2JUfuS6Z_fvWWPMtCE-EuhkZN_M8v6nWuVFsMqIp6wOQMmTNHFqOw8m5dlYKq892Jsja8hdvZPBrWZLmzLOGXWcDqaD7WD0c3WEIfDklkD4Yy63JPUCwdOyztrVOmC_UJB9uObipv4gldapUAMnT3DF5pBfyw7xqkcprRh_8aHJbxTBekqVmH1YlhaISOXyB0Xg6y3ARVRnx9r1sj33iIh8_1kiQQQnebwuLxY-Ehkmsm4F5S6JIo-f3Hknq9PvzAcTeLb7YVk3yUcMVLrOGz-Cdm1XNPJ1OPgpVE0=s786-no">

                                </a>

                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="portfolio-item">
                                <a href="/couples">
                                    <img class="img-portfolio img-responsive" src="https://lh3.googleusercontent.com/fyG2Ick2uYNjEzUveF9kMCJtSNtWnD1Xmus0UdR-rm-r_sAaDujpxP92yrpKndlKXs0h-nCmYpIzf_hL58B2VhQyLWIaNRrKfeImQzGniCUc929CSFqYllgAhAJHYHqVcR4Z9nT3Zg3zFUOThROQmmlSgedALTEWrXVhJrUF-lWpWVpPZ4flZl-6ePEaEx__Q_UKqgKSAdr17z7HWonImWYfi1cJ2WbblXu-2Yr1N0qZyxH7B5YLAX9wzXw6LayMRmE9VRRQ9Q-xNTLV2cIu3Xbm1Et0_-IKRKoWoKAZYlYOhddgK8sly6I1ElZWR6LzocDh97x7sEj5kscFilmk4gxss5DcpJxOItVWxgphaBFVLPV38EL8fBvUEhBM2ZeBrvXQEEna3Xoph43hHk2utEzZRKqlUmyQlJgUVhhcs5ch2nbxj1jySLaGRTzOpo2DqjvncigjghKYDR3ysuDhC97Y4u3IE8sQ6wInijf2rIflI9skM2XPa4E-REgI8vQ3mSZMAOnEgFYJ2HyOhwliNLrJs2XHWv5wQh7OAmeH8HYngBk4bXQvrulpeY_EUgEdlG9sfMxSqMaWq7-P0wyIe6Mua_P5WSA8NSddP287RVfwJDtOj6pSGcI=s786-no">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="portfolio-item">
                                <a href="/maternity">
                                    <img class="img-portfolio img-responsive" src="https://lh3.googleusercontent.com/R6-7wRTixgKbbLAxKKITOtj2jPb2jZsfMTxvDHicL5Dx3kOd8Yls1hDZ-dZNCGoiOGQGZQpdsa5X0tKqKyMWXjk_2yWQgoQsabFawAgItjLycdFKUoeKwU1WaQwVMewSMB3ydGVuSyn4FUd5GLAIDARW_d47-V5weYTze58NgG5I4l_ZHs_JMEM1uo9RuvFbTKtOAkIsLU-UGxn9Ty8d7f7S0P3V4FKGT5M4YTW3xel4gQHFDuDHmqeNvr509WXss8JIBEGvMKDpz0KLkTW7J9_opGsyowOB1sYeewsO397MFMQ7GnbjbyqjbK5durkpHvPp7UkkPt-kaJU18eb9VgiSuqpj3XhzSC5KE4kSx2A4szacjSqDHzyLYsbIIL5biQwEbekDI947vQ682MG0iVTc-yD4eOcdi2u2FWi1EoRCIU8j7hZ8li0DDbCCVnZbJWnqs8e85pQgNkeUGSVQxqaNhg7iaElyUx3XxgFmzYg1lj_CknALCPssrnwN0Ts0IkPr0FxbjKCaESU3XiG9MDAGdoiY3f3DgpQRQGRGDjRrCNMokIV9FPtV5OZ-9oPJr_JTkEdyM5x-EvHQoseZErPgy-CvbId5u2wVpDSwCYpxeIOqrUuA0js=s786-no">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="portfolio-item">
                                <a href="/newborn">
                                    <img class="img-portfolio img-responsive" src="https://lh3.googleusercontent.com/_S16t3Qn2s0gHBYn2L_eEVn0OVHZHR501MzLNVQg7oat8wsziyhrlmUBp0EjVPm0erJfwz5sNmoA8AXLVBFPJXnaPIemgt973KI4hyb9ga_rhitiHcxj7hrBaKLP9RZ86agRUwXwpKTtnSWmJTBwT57jsprxYj40CImTYOhu_s4aieZoZnbvGYxl_WcRRimPHPY05sMpHUiI8k4At8Rd4NwNJJ1VOt6E2nbwBgHYbNyAQTc2BfCsMqYT7D1FYsrFetkXiAc7J0k-DiFxMZ8ei_uftLm37EDPxb2iHoLrfo2xE4X2H77WXZWeaP-2IdD-b0UHHqRwL23gXj334uhla9W2NwRzfLWmVhMb-WJHj0A4KUg0fvZGmisPh0MGlEcu4PfxoIaOcMesM78kt5DW56W-79Z06rdO0N5zM4aoeRxPff-_NbsFz_jlhoodIYGfJff0Pp0wMRh2r3TgdBwr5lNgTyIsqeJicCJfXclFCCOtKnp7YCNGFgYmG3bB73zl_4ewWHAkjdLV-UVBhU411ML3RnPyJVAI_VfwbxKZhFcIqwaNn6C8h3rfI_AiMs68UusDgh8TTpFIIQViqyCLGnEoFnSwCH4wKrJbqBiVBVHu_6KbJR-uN18=s786-no">
                                </a>
                            </div>

                        </div>
                                                <div class="col-md-4">
                            <div class="portfolio-item">
                                <a href="/portraits">
                                    <img class="img-portfolio img-responsive" src="https://lh3.googleusercontent.com/gzpGnwvt-WW7JgruOuAJe9w1Y-nn_wNIRP2auyy0i23CtyGz0Xp5nQWKeNG7l-gUA0tmRpmFXymD4YBvqorfsUmyz7bhd1A1YMStu95iw3Alze4bfqiE4N6Y4V0Wdqiq-scyTq08ze25mTHMqrZzEr_5FDH7HV2VZS2JIgigcH8LOarKZxxRWIje3UHVWnIav0kbbT68R1SmZb8WAXP8J-LE1orjkzugWx4w9kmv9q-aDBqDA23KL2HznLYQx5caLXGROJbk0_APRot15Vlq4iQtRfbkmVo6N87GQaQWFaE5BUM3g961xAibw7yXiJXrTge-buxl0grrKk4256iTOFoyBDkmdW8eDXoeCC_wcIGy-AfZKuM6kaTEnJkYRpz-29nF-y2SCMV0cTtjrA38DQ24N3Z53xx7SAN04jFA7ESDdJP1quXfFMoa5VSd-v2KKRR8WMeIAs1GSwgynTgNaS1i1B-7xemCQHhCfJJ0D_1dho-Q_5TJCMwuS6WUUWiQc4zHiRW9vkGsi-lKpmO5AkLl0J9ZRnxLwwPAk29X15v17eJFquVKKqSWlexhSNYJ17GY553pvQp8KzkyDxpP509Xd30v3aYVN7hNTe0_dsdq1Y7mNOXrigE=s786-no">
                                </a>
                            </div>
                            
                        </div>
                                                <div class="col-md-4">
                            <div class="portfolio-item">
                                <a href="/adventure">
                                    <img class="img-portfolio img-responsive" src="https://lh3.googleusercontent.com/PLZn6-poo28cXUugvKdpgAGWA9WG5hcD-pJPKnQkpca8JIdGpfRYvN_ceMG99TIw3Z09zIbQt57FA_xriJkD72kbv6dzhRCs77DPztH1rCfKEvMSrYP08148Ln3lLRiVepbGfqi1_8P0PIGLodkB6mPsXL2hBqkd-KWnMQaUSfWCy8abhV2dlPHDodV8_HTyoRg8Pnrun1LDVDh1QC7CSsdiksID1s4g8-RVov6mPddmDx_jnuvhUBK1WiN01biG1fk0m9eAPSEhYmzve7p_LZ7BIvLtmXmAZeAr_-fBeXiftdOuHRxPezJLBGqObI7oKcKyiBwgM8VU16hzJAts8Yw6nRjfYIlwO4fxWGZRKGj6mhtQycspzC9dzKti9PmaC43Qc3w8tv1VA7eZxMrxGZTaK8_FD3DjHbQtutkudKIHO1i7Q1p_Bvaw1Q8sfLg_2-M5ZWNufRAcVmhzGsooey_X25UrqDX0q6gxzosEcpyZ9KLmVb8qRuuBUlpjH3icCtmnn7gm_AKOWhobRMrv00QNgghgb95omc_yvOLltEABsTJs4bWRGFNNFTJW3lMuBh3GiiB7BqG6GSOkPAh4YHBAoAeuA-LXf3M7gwkU_DrV7qrBmrOlPIk=s786-no">
                                </a>
                            </div>
                            
                        </div>
                    </div>

                    <!-- /.row (nested) -->
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>






    <section class="section-padding parallax bg-image-2 section wow fadeIn delay-08s" id="feature">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="cta-txt">
                        <h3>About Me</h3>
                        <hr class="botm-line">
                        <p class="sec-para">Jenny Lagrimas - Mom & Wife - California Native - Oahu based photographer</p>
                        <p>I enjoy recreational photography but I specialize in family portraits, couples, children and newborns.</p>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!---->



    <footer class="" id="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-7 footer-copyright">
                    © Jenny Lagrimas Photography - All rights reserved
                </div>
                <div class="col-sm-5 footer-social">
                    <div class="pull-right hidden-xs hidden-sm">
                        <a href="https://www.facebook.com/jenny.noowin"><i class="fa fa-facebook"></i></a>
						<a href="https://www.instagram.com/jennlagri/"><i class="fa fa-instagram"></i></a>
                        <a href="https://www.pinterest.com/Jennlagri/"><i class="fa fa-pinterest"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!---->
    <!--contact ends-->
    <script src="/index/js/jquery.min.js"></script>
    <script src="/index/js/jquery.easing.min.js"></script>
    <script src="/index/js/bootstrap.min.js"></script>
    <script src="/index/js/wow.js"></script>
    <script src="/index/js/custom.js"></script>
    <script src="/index/contactform/contactform.js"></script>
    
  </body>
</html>