<form method="post" action="/maternity/kmitch">

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Jenny Lagrimas Maternity</title>

    <!-- Bootstrap core CSS -->
    <link href="/col3/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/col3/css/3-col-portfolio.css" rel="stylesheet">

    <!-- Temporary navbar container fix -->
    <style>
    .navbar-toggler {
        z-index: 1;
    }
    
    @media (max-width: 576px) {
        nav > .container {
            width: 100%;
        }
    }
    </style>

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-toggleable-md navbar-inverse bg-inverse">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarExample" aria-controls="navbarExample" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="container">
            <a class="navbar-brand" href="/">Jenny Lagrimas Photography</a>
            <div class="collapse navbar-collapse" id="navbarExample">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading -->
        <h1 class="my-4">Kelly + Mitch</h1>

        <div class="row">
            <div class="col-lg-4 col-sm-6 portfolio-item">
                <img class="card-img-top img-fluid" src="https://lh3.googleusercontent.com/JzZl92PYEnIxH10i52kGkdDDlM3DGQ9PC8jWhBKQ9z_eigFTMIxMBBDAmxf75PCVzzfATbQW934r_oabM-MGzUJjE49LTEy7Sg7zO0fFtZRphO8B6G2ldDUDdKgz6KtGLpYvMwU6QbgZM8IFdYZoHt8kFji3M9xlzjYaO72M54W5L6k09uUsY6fRrQVpzL8f_iihprw1YqFOfUfmmBXP7KohsAnACE4gTDQJq1Om5XX3BLvtaLs04Sy4cthifoIwMhgoO2b5GLb0jgxddAvrf-ML8-eW3Okai8EK5DIaWs1xOBDiDuZ8hmlRN5FG_huOB2fJh7t8pdbvdyNhO2a8a8Wl6B1pYs3E7IE3cjRrkUh0Ibv21SE4rYObNCSpg6UIJ-wwY09SQ_11qDGYpJDUCJ5eMCsuM4fY3CbKqwmM1D9JHed1iJ9BB_9epkUgTuiK4XfPPMZRLnGoi_7sJIc8cg0-ffxSJVi0QQVOeezRu0k9_RV96gtPGDxcwEVyoBaZabaCEaI7RN0egodMjte8AmKLhJLU3naK-iXGx0yHce97iExI03Tt2oBk5pyQEaQsnnA5AKRV-g121pY_h11ooZ2Tuk0RNeuy2fwOSH-x5Ty8sJ4VsdB2bcxf=w524-h786-no" alt=""></a>
                    <div class="card-block">
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 portfolio-item">
                <img class="card-img-top img-fluid" src="https://lh3.googleusercontent.com/mfNIsikhoV6jObGo-PbpABX4rkW7YNWmMQHwx-pw_DJxdddMGSqh82_F5UXOh1diWKuJE-C7rl5Ag4nOva5HS8szPPtdKxHUM4PMiAMsgIA9r3k2cciXtqCF1rvc1LaVn0KPDHYiQzKGliL3T2s0e1C8n2CLJ8yL4P1Wsng8_C-Ge24X0lzEZAE-0TtpLuF40985xezFYSBsFrx1bWzwXGEvFJ9U3S7CBw7XzxV5kJmmM6QjiW7jUPG1jHuqMYBA9AJ3ld3C2xit7VN6f-5NrllLYbhUMwD3fiK_lVkm2uGosUh_zzjXdhjFwpVi6R12vVc_f_ULAhd42ba_4orfn2VEYspo6H2Ldm6i8tjTI0m8a0EJeczJaf65pHKH1peIjiwVwpXgJAHe8ybmdaQHHA3dB6eHbfw--fJ-xmuOHdIskmFa_LTW2r7px8wddPthwx1_Dvgy48ZEPQaO0aebku0Qw_eZdhQkutby4QLSZwzVZ_W-SAqfz815Oz_ADSLDoY1FaDidHrIGoGaHCGY7Zn_0e-xgmiSCE0J1JBgmr-w1MgiowYMcMlLdNS1oK8p5IycxmdxDbRkVb15axrzrtMcv7YXAvp-AtlGzib1-0yZkGx3wUEwEeBN4=w524-h786-no" alt=""></a>
                    <div class="card-block">
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 portfolio-item">
                <img class="card-img-top img-fluid" src="https://lh3.googleusercontent.com/MnfwcJLhj2SGpxO7QuaqSh5_6kCDC94tqU2prdawpGmnLSH8JyjVVaeqXguCBOC1L40xM89NFzAMjjSDFY0GOWkpDixsk7F1MPBZ8gRcfGoWCXT5Thmu2_ffEgPsM8Ygro7zhGhEAPix8tWlZqalH1ZEK9ZxlP1W2ucIFuBQxadiVFNKvjgcsWuESgpeGziAoA4M37E_Ap3c8b16XiCG2uNngRc8Lk84EXuSWdDEAYyjcIckmXuiY9eBYliqVyW0d46ec_ClYdxvUMjMFcKnmCKwOvo4MY4_e0KQaunu5c0bkQ06r8oh_xmyAMSSmd-oU31uFzKdN7_bmUcH8N3KUWKyde1eKUO5BAK-YWGY9xhcTN8GUH9X8BJXQrjjvIM_yReUohfxl2ul1R6PnZiK0xdcoDIoAwgQd2wZs6Ui0Dam2VdyOLnPza59lCAaZRtJV1YKhzNUes-DVWrEr00vdEIzxZWA1_NixiR6rXXgRW_pIP56YCFw_rwc6xboiMLPbbfMs5EH0-1j6sQHxJkGjFglnp2FBPlVAXuSDBcykb5YEfr7HsWB42_71gcx3K_g7z4Xa-Lij0AKyhAVU9bs2EFgVgW2BuwA-1o8S0fqt06cK57ecnkEZm_f=w509-h786-no" alt=""></a>
                    <div class="card-block">
                </div>
            </div>
                        <div class="col-lg-4 col-sm-6 portfolio-item">
                <img class="card-img-top img-fluid" src="https://lh3.googleusercontent.com/T_3wBgOE3pVA1KM4NrdqOZ-J9A2lbxOSKsTxkkOFsNSi3NsTHuphLqzohCctP0gvMGNum5IwysgRErK_yA4U2iZf-Ynr3dXL6lVvDNy86jtUazINElFJEoTtt4vfzwY_Ib44qNBRRoEydD4IW8xmTIUYcyhokZ0_D5Gpat-a0nARjRC1N3huNzZ0n0W7pkLEcJWSbum09MQq-iQsgqi0IfxgdVu9_rUMEXyd_axumCmsf6P8HLPyKzQoiti2O_gJVB_EaVW1kaJVYaJ7HgX7zaZ2m4-72z0jSjpJ5BfV_gVPJFEIpPXz5h6Et1gBL99wE5foCzvwpo25E_wdche395m_LEISTTwlBnp82gvlHzRpT-G0xv00EvkMsChrTMxQiUl5C0fG0nWzs0mMC5iI-QQNIARtgLtv6FRcIXnx9gfdOUiFcVUc8l4jc9i82_qOW--z4iu29ijWiYm6NW4liiJNIJuuVmXl_qQIZF1Olwejbaava_Jyl5Ml5Vnx_okLoP1xRqCAvtLFTlaLGdu2ynFJI_xJvlsXqMOd1Ko6Hhqecl9J8lq3Iq27-scXdU7dXhoLqlnuKUOXj4kvu3BEiEmMJUmwX-W6x-9HM236C3_LDkzw9rRwMtUD=w226-h339-no" alt=""></a>
                    <div class="card-block">
                </div>
            </div>
                        <div class="col-lg-4 col-sm-6 portfolio-item">
                 <img class="card-img-top img-fluid" src="https://lh3.googleusercontent.com/XQ3SuMqBVBg8spCUCmhwPFdGRMnhkm7zYSkapH8kb1rH3sRFyouT98PfMH5HwA-KfzW3nTVXJbPAHztJQrFnbnCSSkCgd4K0BoSuy2c7ZF3Ke52XlLR4tGhcWAMGg8lii8dussywff6m9BKUFxDDyli6YRuinNra67W-hFdMeHRbCBtHB2RGO27-47UXxWabpE_FWn3MYDOhKh4JjyxhWuJ_8ofYr7fnNlqxZkcBZcWF0QKMfGNyU_1bNVSF8vp1aSLDBNgszMcWJMCxQrApPBsYzCQw6d4ZmWGoxN-c2xe4ZDjTlRTE8xjyoAnw6u2bc7iZq3IHyJUHY70G_1GKaEyNOx67mHTq_riOb3rsviS0UPpQsma9N8F_xYdv-R10rKYGKGCXzbo6gGzOBc5rirekmslFLCogtjHzCiOG6kXQZXF-Qd8S7cXGEnD9WuC3USs3S0gjp9ciMUB1I95ExtIngGTFxtjECWIPVB_3nBxcoOG9jT3RJISUJ_0HTiQPcKTmw8lVGx1yIL31Wn--UBE2O3h4srz3JPhmcDBsaC6iEkRiQrD_zwgX3ohJQXwcwhP6K0hqxg8OIwgelIe95u9_QijFAj8UbYS7ndDRNCqV1PzCOaJG161S=w506-h786-no" alt=""></a>
                    <div class="card-block">
                </div>
            </div>
                        <div class="col-lg-4 col-sm-6 portfolio-item">
                <img class="card-img-top img-fluid" src="https://lh3.googleusercontent.com/B-vafSdfD_OquLqqaYgZ8AIYLZ8wqjxOhyZn9VxLCI8jCFymmhs15EbG6WLFza0wuj0J-LPWjLlnjQT-YUGRDTWPD5_iPM5W1VkIasFlLNf54JlXsZ154zyIiuRTYTlt2jSz2DozChU1QJBBXLHKvgzM5mlHNYyEfXLRz4bLIsevBK85jc72uUSR_RGyWvK3sbTpgLud2dj9Zww6LEY0Mlx3eIE3XitQGMM6E6R2lA4oZ50TfoWf8cVg85exQj6zPEGY9eZottkpmiHRz3-9dl9QyfBi4q0hPfjqdta5dFWFU9pezYxHAdrp3qSXHqzIOjYTOV5pJI3avl0AgO5nSerqNHz8AagYcWb0ThjpCQX99_Crpz7pF5l8UtwsX3HXIloKDDGsQFi0en9k6LtdeOVo5Xm5XcaWFXUEQitr9nhDjBg-r1fBQ5KW8mN0bkDNnU_7xCDXHjecMcJ3RjHHLyK1of4pIebO43QcU3J2VSwLP90F3bKFD81cbrwazcXyie8yweq-Wlj2yPQB7qfFiIW0ES56ALua4H2CXRW5uL5dbMiuqUiRyXPTRlTC0FTtmswFZ5czGoBtNKJfN--mIsQ9t5daxiZi2goeo3IKZnoJgmv9pNeTHkul=w660-h786-no" alt=""></a>
                    <div class="card-block">
                </div>
            </div>
                        <div class="col-lg-4 col-sm-6 portfolio-item">
                <img class="card-img-top img-fluid" src="https://lh3.googleusercontent.com/O3BwobFdSkxdKN05HWr2fecpF7C35HPHyys-Zry6vPooqqCHOyHTDgIMvSX8hlQkHx2Bj42XzABWKdSL2n1WrgxPBnQEBTesD3ybXz4GBTWWJR76u03Z2Vs54gzlWe2IxLmG0NlGxwc4QjPwv4II2buHFyjW0YMerSKDTNNR8wkz00Z5eNa5iyLVzoqoG4Fkm-BXljz3KZdHn5wQfpW_Lkp7qbbhJlxgP9NND9UbH0Q-vk5Qk9NA5Be-e1FochKiGyTryJTb4s9t90UeaZ1UYoPragj2FJH_R_ROLAxltZ3iSqci0CwejqguoRg4-S3PiAokIX9dLdrC6ALXYCWQWbz9g8TmfbEeiAb0knXBlBBx6yos-rG5-ePuMqGblami_w2tblvx0O8_L1pwXyxngyNTJJ0523nmxxcV0zZ5vuQ5qS5jGKGD9Qi-3yM3UUW6N1osUub6U9PSWQODphr8PSlDNJHog-EwX-JUC-RjNSe3nvOmTggYgZB7pUu3D7l1SgjtQNl_M-xRQSTz4S72myOF_NRl-VyIzeNUFfVY36ygigY9TFanqs_GqSDqE1j4et9XwLQKXTOA2KROfv5wuYVxEQrxm7i6QKfxOtj_hD2U0aigJtcASpJX=w1088-h786-no" alt=""></a>
                    <div class="card-block">
                </div>
            </div>
                        <div class="col-lg-4 col-sm-6 portfolio-item">
                <img class="card-img-top img-fluid" src="https://lh3.googleusercontent.com/7T0YEQ4QLU4H0iOR0QCcdHo4lnIDAKyHS3mP9zOmI49UgYQ2dWAiAmjLlve1Vxbe-RIDQ8Bo9QTQ0n9LKPAwPzpPAM_liiQVvuWfqn6qQyoM9EAUt_Rh4eal-kalFuoX7RGV3hTxGl7k-bATdlTe9sfmYdL6C2AR33S4Q0HwK4GYIGRA_h10kFyPbSAVkNdlxlPPy7089Z-fvoEKr5-9WwN8YNzZ2tlgzIyV_79YV6obb3KVFkwOOQHpF0YDBJpJCBtAMsidy9pdKtQmSs4oaGd47o4k_iHNB0U72gkdb86Kufg44LHVu0qrSbBkwAxdW3zKKYRmuC-Tm_cUYG0ajPTDUxjuc39QFrVHCCyIyD03gU1tNqtxEgWVFunl0mE77-y874-bzT50bqkyFZfJqFjJXEUq8t-lLleEEoMPTvLur0VH5IE0OI7o6TmG8BkZXJ8mmnOLcLZQScAf1GtVLoKy7QZfMko-Wr7dT8pWMNlxQL6hdBn_3xhGhqHy8e-M1vOCzDNL1CNYmDLbthtF4d4MCRQR-4_j5RbrKG12vBvJCBZaoMDIQf6zehnzXH6Wh9Mm98yyLmz3Uz5A4RCcN_wByyFndAmEWqAajBTCrGfLk3TV6W2_QHQI=w1048-h786-no" alt=""></a>
                    <div class="card-block">
                </div>
            </div>
            
                        <div class="col-lg-4 col-sm-6 portfolio-item">
                <img class="card-img-top img-fluid" src="https://lh3.googleusercontent.com/HPI_6gc3D25k64gBfcP-NZYTKhO-LXoyRwTifqGbVlwVDovhxzzQE5VQMxwEHbc4L6oTca6LYReBpcjuQRE3BN7Z9D5CuFMB9DWNWPcoJd01AC9kNw7IbnclF3Wjn_mNNoWU8Sst5q71ecBYTdUOWRHZzoZYdxS_xBbOADNTNg5BGeUP_VbJc_CJEpO6pQY5QzrDv9_9YsTt22axJqOyDrjAeF19GsRXmo9yK84CLVNGa00vkgdzzNI310fNzAoLJ52oamIzuMm9o3EgvfAjNiXV6Wi7wF73QXb3SJ6wIwV_6tk685Meg6d4mmp2EqTFr3npp9oTpMMiGi5G6s5ki8xFWROUZY5BAD07obQRolSDu5AuQ8WXFD9gvN7ZgwevNJ9Wrk0hHJ7qvbPnMG490JdRpKQMmIX5Mj4zWlGaRLroCZegNszemSkdN2VXioORFqg0Z8DPZ2p6HEc6f9Jmw3WVVd2KDkL286LJdqRRTxFUxmuQlCesdIsmYR0VmJrXZC_O2O6bordF6X5O9JeMZ6CSiRHvrdk01hLmapN6mgSfpBGAQ2FCwoqwRhQPUf2BLt4C8psqbGNQ7D7OAAoKxoGRT5b3EdKfMbFJ_L8nB4tOg2_s4hDn-84R=w1058-h786-no" alt=""></a>
                    <div class="card-block">
                </div>
            </div>

                        <div class="col-lg-4 col-sm-6 portfolio-item">
                <img class="card-img-top img-fluid" src="https://lh3.googleusercontent.com/TMz_ndbopLvhrn2UgY41fyf-OXZeDfoHOruct1WO5RTBiVLq7bV-KktmavXKdu_dl8un37cAbtP-HbOki1h2Vafr2brALCVkNHMHvXMaWNeY8WV5AFW8PVEXbGMJ1Q5n8f-qa6Btlpg3X37Q2TwABSuSdLpR6YGJXXUnPFKCHLLjrXyCXoYGng-XXQcVSDatCEIdFvPf0lP0spz0HPZMVXuPwwPcWQ1R4ESz_hNTAQkzKLbmOopTbV5QwfMU5ojJEpzvjHC7bdEqzyt46kcdKDj86cTkfgexjADLsjeOPE6Qpr7a-Fw9QtrRfcL96pV5HmwB5f9a9Q0w1zxq6upCxg9YM4ThSDetwuA944mDrx-Q8KUm-FmQT8hELbCIKZyeG4b_R-T2SvCdJYiHdsE1FF6_WBZjpb5WKSAfnYFm54jfK87AEpvKzc7wV75QklCn8gri2IXKqpnjC8Ez0npyf7b5TOVYrS81dyqsa-9wNiGz7v_KB9OtW7bQZonL4hfDrBiSzLCfU8e9PIikNxYB6avFtt6Es8MABVpAkSG-S2w4PkW8B2WVDC2EbGNus2nGGckrM3iXXcewONnwQBcvAZgnTaJsN93NiHHOEKOSwkPgxMv_H_vz5as9=w1168-h786-no" alt=""></a>
                    <div class="card-block">
                </div>
            </div>

                        <div class="col-lg-4 col-sm-6 portfolio-item">
                <img class="card-img-top img-fluid" src="https://lh3.googleusercontent.com/U3Ht7iNXN0-bU6Pdm-JU4uH4EILrAebmcARutbmPf_w6Vs13Q6NYHj9hc8BE1ScwCB3GkQJRbAhHGiTAxx0UH7H0FgJj0Mq6Wd9r1yC2hcAFzoSdAAOMDKuvkwJYWh0QuTA9d1zpIbTNDzuKYwlfQH07n-FRcU2AoICCSQjQhmo_bXMp5Vnu8rzpxt20O2YOZtfNCDcuZJ1ePyITEvLi_F3b7JQa8ocewZamOVHPhx4TXpy2454KHLcJNcbnGtAMJD8Gss9Irtfc0YMUjYethj354ubw9ShZIINAtFRr-lh5LNlCKlGXUWus1M2xM7r7lQeNyyI1lqL2rzJD4vAPgLBrG6T_zhtjzPc_aYNMG33bJ-q7yjc7pyCcwdc2nglYtIcW7R4KvrJN8tvEd0MZasj3Y7TuSQifsdGLXL07j0jKAmFkDi4-DxZwQQoisw79kBwdxxYYjrGAfRWfp33MplkH009VKf03H33El9oZXnniznw3Cst-eI3o5mCU7mK4kNKaiGjGVIL8maQlmfie23az3wkgG5ysQ_xeozn_DcC6qzSx_pqnBRAEH0XPF6og_YnW-bq58cB2CRgisS_f-50_S70b7Ap8KDoJC6B0q8iMckdedT9mlxx-=w1246-h786-no" alt=""></a>
                    <div class="card-block">
                </div>
            </div>

                        <div class="col-lg-4 col-sm-6 portfolio-item">
                <img class="card-img-top img-fluid" src="https://lh3.googleusercontent.com/YLWRMEBWQRq9Q7AGaGk4n795evu8WEu4cO7kfrekjk-ap2UCvLRa2xRx3KHg1KIIUKXKQI9LYyDlbf1jo7mvbH4qU1siesglfEYacCdHMnvcc9g8poFHKigyep7KgVlYYCFUm7WrAtoA1x_KnzU_zaGJ4Il5hIgTu9aZqSklpiuhgpKwZTS-jq4gevE5ev4D1XUHp4N0jbGZZRio1W0W4sLd1wVKYQ9ZG75I_lyEaROHoijUNFSZ7NyfjFQzNO2kNX2XaxTHziYZQaLXJCDJbGui0HHH7_Jizp7O2OQ9658g9_yjDZLR-elNmbYURyit9Z3ueKQhBaX40B0zKQBh36ENUZUm3Qi6ZjTNrEv3pDZ_IzRbjMbbu0REZaeapsRXAK2K4PhsaHQX-MwTWLZguEqE0DQF-aGiXgMsjCp8R3-wT0_5A2ZEuEov1h_UBP0p5pXZpobUQywq8BU-jOfS1UcfYpdR6HNbkRQb_Ei-goAm9CutrWMNSJXVzHHrILZC4PvKISH9XCL6jYAgvY6IO9S69dBm9FBUWC6LbXfugqTIAAezb5qskIWVGQ579vetmgvcRVJy-NrcSFMu1AqcA3xfEVSoGPKTRDXcLVeAw3RNXCEesH8QWV9T=w1216-h786-no" alt=""></a>
                    <div class="card-block">
                </div>
            </div>

                        <div class="col-lg-4 col-sm-6 portfolio-item">
                <img class="card-img-top img-fluid" src="https://lh3.googleusercontent.com/h4HlJhTSu-oTmtNusf4rxTP9Yj5NFA7T4IcPq1LDRXP0I6iNPTIsiHjlY37AFPwXO5FtPi43HOez-YUfFo8FcAf0UMMzL-rilYnhpXIq9TfYnGuPyN7414eTwh_AC4csnkHZt8pDe7AhX0VzVE6KlTVq0NvzfQQr4QM2uNLQ149Kmgo_rAd3SoMOt0b4mef-bgC-KoPvHXEroEHb5FrLeeCUdm-FZJisF4E-B5dtTCAgaLo6NvqTlWndjSd8voLgWspPBtV226GgDLUEBrcNSwjhKCkPIHh92h5vwv_45zfwXlkGyCobSMrhFtAOM1NbDRiM4M2H1pz8r0mj3v78ZHcpr-glhCAcNxvtN8dW3YNDxgaj_ZFDyBi5fK2ATThZ1gLdXXX1tFokZQUO5GJ0-HOrZAyLXygVX3Taw0L_bV_XrDcaz2iv09wxBkKqxaa6UaEhaKT9ohu5cz89MPYnVyy1nZrnp4TzEcpqrmUwv7RNwTbz-uj8EkwZc0lhJ0CkllKeWjutrudggQaF2PY-LccRyBWo_b0gs53bpimVVVsEstoIBj2x_bdvm_dgXd7kvWyOgha56WyTj6ujiPUdllVgtZemiLNY_6sKOwld0nikBPIBpqznJ_lO=w1198-h786-no" alt=""></a>
                    <div class="card-block">
                </div>
            </div>

                        <div class="col-lg-4 col-sm-6 portfolio-item">
                <img class="card-img-top img-fluid" src="https://lh3.googleusercontent.com/nQmbhx1HEqHdFPp8YntHIaDHZZ7OO82hK6tA4tBySQlc2IA5yMTFPGwk1E4MYHNLHJ7VQ7aUdhJdlyWfojAI4KM97dynJEX7M_Reb8ANHiE9yi3XdhUL0bjlzEAO4uXpIG9Xnt2vUKBc5o5t2AEOEhIpFn8otQkIi_Ahi9J-NiXC8z_HSKZXeZ-NksmXDbkNfz9xpPr1XttRiNgqhpNH27yocVZ7xC8do9P6c4PK6AkBhPzJudaCxACTMc-25QMlvtecwvwqDR7kzSiwbN2YTB-z2SA9mc4Y-UJkm8rZk9_PXpeV0rqXkTnV_aZ3VFFkY3FaLBFPHyd-RoBNdkb8XY2ehaCVbP2k9GQcPvtgonbDiFpI0Nu_ZsuFdkWCtfJx0Ksyj2Ij7_UxoUKLrUwlezN26QfXRTPgIHd72tyusmrxuhmBQIL-N0jAcfRDEnxuDWoBk64hEsfdjCU9XNfB-lm2ayToDlx1kOAOmKe0u-mFBQYyOrXx4gHPGnEcGF3pxhju98uJVcCCoUHPZVmZFYEfh0VvDFmABajpEF7NLj6ZIdt9fYjD1pxIMO-7CjslAx6KbJlkHDy5tkGUBnzsXMfvWQzhtgHmOieabizO3TIvQ9Iopv-dH4LM=w1231-h786-no" alt=""></a>
                    <div class="card-block">
                </div>
            </div>
            
        </div>
        <!-- /.row -->


    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-inverse">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Jenny Lagrimas Photography 2017</p>
        </div>
        <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="/col3/vendor/jquery/jquery.min.js"></script>
    <script src="/col3/vendor/tether/tether.min.js"></script>
    <script src="/col3/vendor/bootstrap/js/bootstrap.min.js"></script>

</body>

</html>
