<form method="post" action="/newborn">

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Jenny Lagrimas Newborn Photography</title>

    <!-- Bootstrap core CSS -->
    <link href="/col3/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/col3/css/3-col-portfolio.css" rel="stylesheet">

    <!-- Temporary navbar container fix -->
    <style>
    .navbar-toggler {
        z-index: 1;
    }
    
    @media (max-width: 576px) {
        nav > .container {
            width: 100%;
        }
    }
    </style>

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-toggleable-md navbar-inverse bg-inverse">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarExample" aria-controls="navbarExample" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="container">
            <a class="navbar-brand" href="/">Jenny Lagrimas Photography</a>
            <div class="collapse navbar-collapse" id="navbarExample">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading -->
        <h1 class="my-4">Maternity</h1>

        <div class="row">
            <div class="col-lg-4 col-sm-6 portfolio-item">
                    <a href="/maternity/kmitch"><img class="card-img-top img-fluid" src="https://lh3.googleusercontent.com/7T0YEQ4QLU4H0iOR0QCcdHo4lnIDAKyHS3mP9zOmI49UgYQ2dWAiAmjLlve1Vxbe-RIDQ8Bo9QTQ0n9LKPAwPzpPAM_liiQVvuWfqn6qQyoM9EAUt_Rh4eal-kalFuoX7RGV3hTxGl7k-bATdlTe9sfmYdL6C2AR33S4Q0HwK4GYIGRA_h10kFyPbSAVkNdlxlPPy7089Z-fvoEKr5-9WwN8YNzZ2tlgzIyV_79YV6obb3KVFkwOOQHpF0YDBJpJCBtAMsidy9pdKtQmSs4oaGd47o4k_iHNB0U72gkdb86Kufg44LHVu0qrSbBkwAxdW3zKKYRmuC-Tm_cUYG0ajPTDUxjuc39QFrVHCCyIyD03gU1tNqtxEgWVFunl0mE77-y874-bzT50bqkyFZfJqFjJXEUq8t-lLleEEoMPTvLur0VH5IE0OI7o6TmG8BkZXJ8mmnOLcLZQScAf1GtVLoKy7QZfMko-Wr7dT8pWMNlxQL6hdBn_3xhGhqHy8e-M1vOCzDNL1CNYmDLbthtF4d4MCRQR-4_j5RbrKG12vBvJCBZaoMDIQf6zehnzXH6Wh9Mm98yyLmz3Uz5A4RCcN_wByyFndAmEWqAajBTCrGfLk3TV6W2_QHQI=w1048-h786-no" alt=""></a>
                    <div class="card-block">
                        <p class="card-text">Kelly + Mitch</p>
                </div>
            </div>  
            
        </div>
        <!-- /.row -->


    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-inverse">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Jenny Lagrimas Photography 2017</p>
        </div>
        <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="/col3/vendor/jquery/jquery.min.js"></script>
    <script src="/col3/vendor/tether/tether.min.js"></script>
    <script src="/col3/vendor/bootstrap/js/bootstrap.min.js"></script>

</body>

</html>
