<form method="post" action="/portraits">

<!DOCTYPE html>
<html lang="en">

<head>
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Jenny Lagrimas Portraits</title>

    <!-- Bootstrap core CSS -->
    <link href="/col3/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/col3/css/3-col-portfolio.css" rel="stylesheet">

    <!-- Temporary navbar container fix -->
    <style>
    .navbar-toggler {
        z-index: 1;
    }
    
    @media (max-width: 576px) {
        nav > .container {
            width: 100%;
        }
    }
    </style>

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-toggleable-md navbar-inverse bg-inverse">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarExample" aria-controls="navbarExample" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="container">
            <a class="navbar-brand" href="/">Jenny Lagrimas Photography</a>
            <div class="collapse navbar-collapse" id="navbarExample">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading -->
        <h1 class="my-4">Portraits</h1>

        <div class="row">
            <div class="col-lg-4 col-sm-6 portfolio-item">
                <img class="card-img-top img-fluid" src="https://lh3.googleusercontent.com/eeiZyXQzXEgfT00vpVdify9_OM-bI8PvpojR6nOr7RkDIWBEcr7iyxfx2RncxBDVB9KMWFO90mRHlsL3ci-aCUis_1fYu2P6_u89rgmApuZ1LMpnKx1CqFza8RJW5elPOgYrUw5v14ox7rmjnmzoAdNnN-eS9KghmzfXnq_t9IndzhQ3mc884WeVh_TmMOWm8e979H_ber_rsb95lbrEnGBJRWziTxdxeV7WTcR_nenLTWL5eLkWDq-F9h7RDZjTGIjX1LyF3f5FsylL7z1YAETQ_At74gmBd1-lUF35p2Lj51TsMtiT6KAXrM4LAAFD_jUG4VKp6NWsLVFdY6smHLsJn0fAuZWGyXukMHjC1Ok4IhyuiiW4H0vQ0BP1cx36Jb9Mj8VN0Sren-DF_2-xYyAwKLt_DGpoF1n3yvvDBiEV9Cr-fNdeND3Jja9b8PTpUGiwJqb_1MowvfBlos9xkNG286sayeJ3VlSSvJ2BXcAnBptv6NyQnWdYE1yKITwNzpcCD6VXqVgixnxasg5lHxhh62gRe9H7sgIjUJnp7dzq1qMcxHNpDsDFAPBdBaHCQSTVF_Q6zkluM1yKCsFW-IQGv01U9DKDKG2BTQyP8P-XwUnncDDSab4p=w524-h786-no" alt=""></a>
                    <div class="card-block">
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 portfolio-item">
                <img class="card-img-top img-fluid" src="https://lh3.googleusercontent.com/ufQ7T-1VSppQGGouU2fCVMDjgTTdP6EY-pcKsfv3nYBfkLj8WJ3dNCi49rbiCbgU-KmuMJwCF1FZNZmIyVXBRuQEZsMZYBMk94PocNiWwGntWXatlsuvsXF14sqxKr_3FAGqOeNgO5Q9rpqwSSZDz8TWgQOPqzY6gfPnLaIgte2BjA98H7iLtnRuBftYIOd3kJiHGaaVgTWDN8POt4t3lo1Xl_O5RnRRX77-JnpqqLw4AmJC9iE-CQqVJRgXZgdFWzo_dUC0ePxStRd5IPqFFKRwoatiiCLbTWV7w3R9eG7Rt5896vTHJ0SyiRPl677V715p8lUtzXTNpu_WdqVcNRhH1cKmwTvMXmoZyv-SjgX1A-8qmP9rB25UlUcVOKT5Ka91dCo6-cI8m5JJ4714M9zJcXXdHAK-m97ZgGNW6FlTJErUMxGcpwni58APjoM1ywFv56nS-tl9f2T49X8XpD-vPPcYCkn1D7ArndlCLPx5-kYd7BaVTC921XFv8_W83q91mGRSZ3tlMUqyyPZASlLomtHbwJr5BL1vsflgz4XY39DO661ehVZzfkBsX_4eD-mm08xUpH-JRlqFDOwSBafCX6b7b5J4slmrVLTynElHiuMKlM0NCXA3=w552-h786-no" alt=""></a>
                    <div class="card-block">
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 portfolio-item">
                <img class="card-img-top img-fluid" src="https://lh3.googleusercontent.com/3Wudtyidv-ZdkUj3YXtZKLWiU4QVjqdlid8-Q6Pra6huq0B2VLKG0beofKBAJaqLqZcb7O9hZFKHb3m6lwgmak29cFIGI31qqSL3azdTDJtTpz_IMx41rti8XmXgPIj-6Y-v97HmK3HCe3M_DJZlxqlJJ_dIKWrkUFw6zR1bnGQTPLk06WA7Fqh0RH9qRHCv8_6HgqHwZ-5NRC4n87ZbA_OqiUt7wGeG1ahmcXQwKvlWSNRL5wbzCQ7t7-TdYqWtjWsUlb8NrG1YzvA2q1kWbrYdtIuF2HS02k2EfroivimGZ6bKXbupn6eLsjgoAYqUEhsufymWSY_GmvJrTbEvA83bbJiuCHXT1AsTj81-bFB7nurKzKGoCIFnPSIfjEHAOuH8pKYDw3pC8HfEOjorBOhMSzh6vt5H8XIYDLcod1ATZsSsi_tOe-PJ98w9rvChh7DB1M2JZnanzqOsSV19j4TYjO2g--QPlvd7yjouW0ky40YpA_woh6d97q3tzKZeJ8OI7H_KbsF6-KLYFkcZIlI4tUW_BCJ8qAOwGCKYJvmXld3E2o6LJCHshglpSgZ2Xns7MmPi9DaG61G0SnXfdyZ8IchDduoaZ8VMSAEz4KxDbRMvq8xdmYBF=w524-h786-no" alt=""></a>
                    <div class="card-block">
                </div>
            </div>
                        <div class="col-lg-4 col-sm-6 portfolio-item">
                <img class="card-img-top img-fluid" src="https://lh3.googleusercontent.com/kM86QKFGUt2SiB5dO2oFDsrAl1v5BlyNKKj68v0Zb1FwbxT1iL3xQQNJam7ARb_tj1JrCmLAtW8q4MnmyN_u8Vh072MUHU8zE4C8kfKiV3ZjXbocXfnj_F_Fv55hJHCzcERhPq1c0lckR8wFolji_p1Nohr6tdYx_u0aBSQaJTN0ShfhVzuI7jOm68cID1lEpveL-rHlYgmNeFo8OfRGgRP-AVFgPq3Jflxiz4VQL8abbUmTDAMm-Psv8pdBwmSKbA9wKIChodD1cyaPet8OV4oWJki5kD-41eir0K6Wm_r4h0Ob1rgmPRtnm0f_Bm3-FW5fotxEH8UcFRpTl6w9FsrfDHK3F0TBtxsLK8xdiEVjjXO9D3ZklJ4po23D62Ru96Q8bJu3NQHrGiM9uM2vmMVa_wn1oWWZVyqlj38Q-1JUs04Wj1j9IPmeUcuY2QA4npZmxTMJNa_AyTBeZO4h5CXkHMLwfbo7G2rgV4SF_32fORlzvhQo0L5FwdsKn6miCE2Xvb_t1TeubBJlxCvBVU77Ff7rHxoSeH6sdkhFKAeOfNkjuxXNq22azoG-jZYtSVlkXjn6Iaz0l4plJTKrAmN2lQNyCuNC8IK6b0cnAqDMJUoUr1hsBLus=w524-h786-no" alt=""></a>
                    <div class="card-block">
                </div>
            </div>
            
        </div>
        <!-- /.row -->


    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-inverse">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Jenny Lagrimas Photography 2017</p>
        </div>
        <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="/col3/vendor/jquery/jquery.min.js"></script>
    <script src="/col3/vendor/tether/tether.min.js"></script>
    <script src="/col3/vendor/bootstrap/js/bootstrap.min.js"></script>

</body>

</html>
