<form method="post" action="/couples/vtyl">

<!DOCTYPE html>
<html lang="en">

<head>
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Jenny Lagrimas Couples</title>

    <!-- Bootstrap core CSS -->
    <link href="/col3/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/col3/css/3-col-portfolio.css" rel="stylesheet">

    <!-- Temporary navbar container fix -->
    <style>
    .navbar-toggler {
        z-index: 1;
    }
    
    @media (max-width: 576px) {
        nav > .container {
            width: 100%;
        }
    }
    </style>

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-toggleable-md navbar-inverse bg-inverse">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarExample" aria-controls="navbarExample" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="container">
            <a class="navbar-brand" href="/">Jenny Lagrimas Photography</a>
            <div class="collapse navbar-collapse" id="navbarExample">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading -->
        <h1 class="my-4">Victoria + Tyler</h1>

        <div class="row">
            <div class="col-lg-4 col-sm-6 portfolio-item">
                <img class="card-img-top img-fluid" src="https://lh3.googleusercontent.com/nPRwR5Hi2qBBv0n_FH_H2Eyn-VtzjSdfGkbneKfP3XRwaNuueGLgDuusXFwfL5YO9C6coFqpbXhldFPfZU0GT-YRmW7LOJDEmOWjIMOWLpeuEoza2DkUx9PHR1p84F1w9WCRvTOBPFI-QjFuJJPr0yVqUPU24nUOhDYRdoYrgtuNAOiCr7v1VKrMq2MSyJpD1Z4hkN-C3N1VBCJHmPvNVQlfwPMuJ2Sg_BOwfPN94f8ZCRMclnP4q5yRRsVrVpreXSxrNzRtZuoblqXDhERiI8V6B3izKiunm4qHId6cPT5aobxbjEW5pcUI_4P4nRcKmSlHJuYeEYOKTk_0opWYck0nWYmqO_AKrUfwpJUNgDw9a9Hmtyeig-KeReTSUb8ufnfvp2ZYtmAJ8jzeph3V79C1WbIDjJCWtq2arwbklyC_VbasJjl7vz9mWnhJ-fDX-mv7dO_I1BamfiSHHY0zeUBlg02lGGk9OgqYixOSQCWzHdr7Si33gBzdZINzxIxl6VmLOGII6Dpc8M9yWmSPXLvQbHY8jxw1M-r03H3gIFDon05pHTTfHv4K9n7MqxI18zEBUgBDpHREDZLvQB8OPFr1qv3TW3pyBqkgaTg5BQ_7O6qRUdCHhQXb=w586-h786-no" alt=""></a>
                    <div class="card-block">
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 portfolio-item">
                <img class="card-img-top img-fluid" src="https://lh3.googleusercontent.com/v2CJQ6mk-UI2SHg65KsJBcwskfSnSJHpVDL-og8IKOGP1ZQ_iC6OxHix3h2-T7L4nC8YLqA_vbefEF2AeHfPLJeTkAFa8xivmA0FBmxBs_Ml7NxKdeNFUweLWRrTJvKGtW5H2XmDFxPpOkJmA1rcrkMuj0lMjSAXkQ5OEBQjBNkjyln_Jz0RE0dUhVmi5_votinvbMNfCC6mCBsp0AgDGJv-ijojktuc-MwjlTZpry_AHFse-SfaAgI-Wxsm-W8-ghLnf-mFt76DnU5iba92bQb3zSCwI8ohPw47jc5W5ZfecrL0YdYfHOoBWINSZn0woHZYQ3l6WX_mfW-Bg50v03X_U1BJ38YvOHAVknwZxu4fmjRFncSL_9EU1pqE6dHpCgFgHe6UeXMSpZySIDO_B3SQZN51-o9Ekmw-Y5THjIkGgaaThxl7QJ-04P3AYXC-x6ALoItu2ctRWoaFK6dZfgns6z76Ao9XyLYct9mG25szDT6WmgaqVPfg7QVwn4uFX1Ji4n6z51xipPzAivIz0iOwZxxuD5cwKaqFtgpVUk4J6FMq2TjKBU9xN9cL75kvkOTZS8B0PeIKrZ78ijd7xbLaMXnF6o2ED4e5-xiMQYtVd5ZJ1lWmyW0g=w526-h786-no" alt=""></a>
                    <div class="card-block">
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 portfolio-item">
                <img class="card-img-top img-fluid" src="https://lh3.googleusercontent.com/KTHvnOCxejJTC7daq9lwSShbDb1el-m84Wi0ine-eFUG2VgOHP-Kw7QQ5iud9BLkyFBlz9pTaSRNuQVmprQYTucDEsN2Aaj5IYLCZ0xLxgpn-vBfBawh82hUiTEPM_2Ux9iUllHqwSqKpd7cbOL596LNXM24sKkj4AOk5-hRn2xUdwg3jMkmsgVVaEvj32rstOB0uFN_JM12u4FOeiK6LDlSVybTceIldJyvq0TFePgu7Q7t2HDdgdflRtl3UNEC_Yw6znTOqjltW89vTl2FEQuhwRhe_AWkel4sRoBT7rqFKgbwozkynshIEmPMta8R9PRVNE1oDkWMpChKOq-VhLgap_MbJ3AV-IiDyVUZ-uF4F8wK9rs5-7aujZxVZkADZE6oPSY3rVyk1r1qRaUIBu341XCXnPdrwSQ5QD_SLb_YWssmuaKMqsmq_TBbrtgfd-AdoZWJH7rsYw312QgbkI8RqKVOphctGV5AtgJi3qRFvrKhzgfj3olvTwkDt0mPJoHY6E7G6c9vz2i12y9pURDO3kcdKo4rlonCGmRYcPG20pyNYHudEor1J5GL6O3B8grA0CPnhCC1rDLZY0_YvM73NjsAMxXPJ3gLeVdvkwRAf5TGWMCN_xJ5=w196-h294-no" alt=""></a>
                    <div class="card-block">
                </div>
            </div>
                        <div class="col-lg-4 col-sm-6 portfolio-item">
                <img class="card-img-top img-fluid" src="https://lh3.googleusercontent.com/4ye49JYfZH4UzehUB2nBRzAeXZnFPKfaGBxmngL1Ay9Wj89HybFW_3RaJiIkhVAD63gi187xpPuQZwKkDCoK4199OnJkeBCx6_oSqkjkzZKv_OC1rHIVVCBKMF7RS2bCvMnJB0ASm9Nkz4Ox6Tjl52eaeleDQNmqfYxPguON46MfLtaLbGFlmTy3yH08UKijkOOhOESljywsUVRpumPboeNiue5wfbSs2DMLD9IrjQoo0gc-0P6y0rmaxHDDFCS7XQVxeF3sLJE8Okr6TECmhL5eRxzY2Edk2D7q0mqENNZCUfUGlPTQ-fzRcqAlE9d3YNioMxMFVL67WMWHwiq7zHi0Psb5twszzb9ACnDUeaMzIayZmFNEXSJOp_gu_QmiH50XpjBH6h0WYVZB4PNX2hm87-WpiJoJzSeYkfZqq0sQVsyJy4IMVZCZSAMPmGdQlvE7Nb8CmTkVljq6PMdD-TAExDOL-0L_dQDyGUV3DOP34x4ywvgib5cdNJC3gWgY92Npx_bSluor1yN8KynhIVrjTYWsetxLgrmaC6NIBA-EofdDZ7DunKEK-Wu_JQvJVlOMDe1EEOWMa-yY6NY-lNTSDxeUtf42mLe0V-08-pzUJyZT0yWkU-pz=w196-h294-no" alt=""></a>
                    <div class="card-block">
                </div>
            </div>
                        <div class="col-lg-4 col-sm-6 portfolio-item">
                 <img class="card-img-top img-fluid" src="https://lh3.googleusercontent.com/6UOC4SWsxu3IB7JddMe3fvn7C06C3nXT-DKDb0lcC3w_VnVaMHERXst8SwQUU_0hcxuNW_yNd6N3IobYPZ3WXkEyTl5IP4SdcqsJG9LaVkAi7R3hC57XUF2hZO77GUzl9xq9VKCuYnLbQVmluGED1Z2QZHRe2pq9x6Y69pL307d1gSu78ddsJI5HQNKOd53ZojcV8J4zIjz0Y7VmQby3E1HKZV1lCfXUyM-CCmHHD37-N1MaowVn-IZxj9HypkhqRHhR3nzkhu1TnS3d-0EPoIVbkTI0rLLZyoH8QVC-YCBCp3nvgNacj01aoMAYfiLXtOJs5gk01G1PeTXjJ4qT-y2AGnhJj9JnagkwGof0T5mH5NqOVnBgYuHflhmkLgo4mUWt3lmCpd6Aj0GDQrdYq2EiCFh-ZoYpeIwgfndXj0DzvYiGeCQyb4iAK_YVGu1PPmv7dljX4GQ9TEks6c1nTK8QbDksrn5kihcYSqvRwuaZOjAFDuqzgfrhBD0j3N3-CdKZwfTx4gKdHPFe_0iS88erHkmwYMdn0TPaoEmIPxYDr5M1UhLBDcG8cCDReHPxoq_xJj1UrPYHmjN0kiyfEYfDaalZjuLJj2qbLlL9qEGVGQRDPp0XLvdw=w526-h786-no" alt=""></a>
                    <div class="card-block">
                </div>
            </div>
                        <div class="col-lg-4 col-sm-6 portfolio-item">
                <img class="card-img-top img-fluid" src="https://lh3.googleusercontent.com/vbEWv9LumDzJLujwx-3-7Gy5LMYtESK_k578CjThnexaKZwF8RmZ3wPLsRgLDhsOkBGV0qsgPm7DEaVyin5MIXIBOeHlJLZKrWuPOAjvmq1EWn7AENANqj6SnFvEJfG8jeCZ7HI5H0J43E9_Vmk3bnew-xjJ14PzWCcqAbS__m5Fkh7PklQQdBTONvoYeWHTjcNYRw3JeMHS4K1vBbYW3ZsG_NyLDOtY100j12UW2i-m7Xv6tdFQqgG_qDYuwsftz4V7dG2X4YuDkRvgl9w3VlDikvov61OUAC-qugK8bqLLiy7AengZlg6tnaraY4CFE2hYXD-K-S1mzvnYLcC6GSTVMhxY6ISWdvUZzm8VRvM6wR0HaKkfkYLbjFiyVkF4Vs27IG-2oHft48XYEN9UFLoj2Bi6sTnBrieVUY2P2AhJJUqwcMuGwIskInQwIcCTYTxrBjDn6lP7wUEoaYlVminPSq_vjTmcxg8E5kOpLqbiTKGm3a3QfFJqzLE_xYSdadBErd70VHlgy5XxibidYPKpayXcyjbTzVxI7gqNC6o9Azdg9cixToygkvgVPeicNzvShwx6cea-wZoZlT1MrOFUbtMeOlHIXSAzR5TnvK9BPvEZ9eszsjI5=w526-h786-no" alt=""></a>
                    <div class="card-block">
                </div>
            </div>
                        <div class="col-lg-4 col-sm-6 portfolio-item">
                <img class="card-img-top img-fluid" src="https://lh3.googleusercontent.com/epzcs_d583Sp3HOxkRPl88wjexLoHUpYwfTfj6v8wpQU5pauGz1AwTXiwBSbMpj32UW5QcVfvZD66fBPLtYgeMCm2b8Tfh3QxQzi9wCZAPaKh3nVRfhpFrZhpjknHESa5NXOfvserovKO4nL_bYeKSrwdIHriFbstuOYfKnIvQRTR3pqf8cRRGHgGP7gF9myPxbS74OqsYAVvmFCbGmV1QrDADbghOu6kjawie2toniHps9VV-7xJ-eMRqZsRxT2sbwG6PrGDyymuFdZNaPqMc1CcwA5A9-6swyD4K-FMg--8FmIgTndpNKYVEsIv70gNNTWNS8dtQ_1_lOiVYltkdtA-elMSXAwqsW15XY7EVYPaAdwd1P2_YjZkEBELOcZEigRuT3IJ20b_yDM5scY9bqvmCMQbOe4jLthed5V8Y8iadxRs5KXVknexz4zW-XY0FORnC3yH80xJG8k37CdTHGrQWkVvoJxm_pMdL2LWeqd_JY0zPjcWqj9rRVKqYvguLa1NohMg9cuqDlSATy594GoxJqdpbiHW_2a6J0S7yDEEJcRYEyQX8Eo7qMU0w1nRHB7JugZn-GndjLesIFU0lkW-vjoT_J89_nWXUFtDB-F8cTKpKif7spQ=w526-h786-no" alt=""></a>
                    <div class="card-block">
                </div>
            </div>
                        <div class="col-lg-4 col-sm-6 portfolio-item">
                <img class="card-img-top img-fluid" src="https://lh3.googleusercontent.com/3NFPD98Iubcm5T5BIbpgPobiMhsJDHQ0bf23pO1HFFOuDHfH6pcrbr9gOXHr7Xxv2aWPqT__O-xXDEvbK63noqSV2ZqG3maZCZsvZaFsiIW6S8v8oG7CVTqvylCN7pj4SCSgctwWBFsk087Y-ViB5X2EJ4TNBEY93Iu3ns7jvjmo2fuiQxcX3qLZS1LFxCSkQOeoHxgTHEcg_Nz6DwsURxOJPitTEAIFKGYMOKJ6GQtpCnaUckhbrDlAUaMak2NXT84veKQ3ma5B7xpsxNHFBhbE93haH2VuOSesF5V1fU6G3mkHnruqHo189lthqMeRxs1CwBC9V9wMAJmu8v_wXLD18-mbYMN82oJ93W5w97CaK1J8sJSZs-CfB0xUPcC87tIO0jlUCDe_qU3jW7beH-k2ge2RiXWuT_LYc7T7JpNjerU0CHVzq_FWrKnn35ESy32zh4HrU2m3EddaK6t6HQ6DmR0FGO0nc2CQ8ix-OTizEms1BwheYS2HddmykGhJO-BcCGTITTC_4IakY9EZeAUSTwMVuF9qsa2uBCfYBy1tDJKzlQS-TFuSDkzlVUWllBFvXhHzCK0oIDMUJdxMjGn8JUbhsHrJ67GVFNMEnP9AvCFhHepcdsxQ=w526-h786-no" alt=""></a>
                    <div class="card-block">
                </div>
            </div>
            
                        <div class="col-lg-4 col-sm-6 portfolio-item">
                <img class="card-img-top img-fluid" src="https://lh3.googleusercontent.com/HdEEJW8f5GTSHckvVMn3WXueDVOvKVaQR-7AZ4O8agt8aXY0NRqgNhPMi9ZMqa_WSiKiGCd3hj5aA49i7swRirfO5aewV7REVyDUKSvJdb9l98q7_z56qNfOt6HCdmiokdNBYyvjQILyoxECZjCfNp3vbl_UXzv6BwBOsbjv1fcLaxcYuqUHVd4PUkoEGc4dYV9YbtkN8x9KNv2GhMV-mDeUyTh4T9uMbNE_U9Cb9gRufEJsFfjVM2QZRGpUpTUZB1_kGNGnDCf2Tqt_N9FAtFoSwWAHPESxwP6R3eiZQ6a_1aOQv7uncwAi-iXhN_IvIygb0hIIZyhrR3F4D4kl_6XBTDAEtMkn89CmqcVG5ufzoCVXzOgb8ie-evLxnShNsrbkzfF39w3qFiCjIJOJPuKOpJ9qVFZM_bc4TP038wRx8EFwz_KhJ87y3HU5szjnq9-CuSzyqNOG38nlPJG7bxkEvwV34HaVcXF1gu7j31DcDatg_PCqpYAqtcSKvq5X_4Y0Vi_AD-VQi52RhFu4mrJCxOFidtwn99oEEgsY72Cqq9PE4Lp0bDoWq5fyE5B4NqNCQwhqgNYbeYrRsfBGtyG5L8Yffe7o0NTABvTkAHAR5VA7FS0QZpIm=w526-h786-no" alt=""></a>
                    <div class="card-block">
                </div>
            </div>

                        <div class="col-lg-4 col-sm-6 portfolio-item">
                <img class="card-img-top img-fluid" src="https://lh3.googleusercontent.com/HhA0TFbOwsuPg2gpS3Hbl7v27STyqzSALzH61ERKXdubccvzfID1DpZajkfEwFkE4PhQWbh8DoqYZHnIpIA5HSmNubyyuq8_jcTUvZ2KS4F16zGVP-eea3G2wup9MpgK02i2dSTti5RCfpaJlEK6HPpQd8c2NjeGfOnUM1ho1UR-OgShXQCoQLiCcKgJ5z8185loQeFqufWYC7G-imeWwF35JDIc_XRaTF1FYoaqD60jOViRqBgryodUVQxlMpclp_q8e9oDNFt6FTWZHtFtUun2c6jvU3tVNNrYn7NYOMk2xFG2HnSUKVp2VNt6C82Ub9ueNOHHyt5_hyQs7vPkMdZKLQFL2mHzn4ee2s6T3e4g3EC7vVZ29_P-YOVjUk_5XZsPCLEOLcym293w4kSL5xHs8vAu6bADKN2ZmBrQm9Vx34KgLE6d8GYl2KOER0b4vT_dgJQ2SxTMZ41501IvfEdBUd5NHrormBSGWdUmM7k_CRb7qHI-SEmhdL7hFZ0RFcQjUSBQgbYP6qeNh1gCikFjO7WJR8yrvdTpA3mVHpMN-8D9P09ktTq8dZ7AHcnVrlBBwBnfBj-bThKq7drZm01jh8XBNbCdr-Hz8iOI--XdAcqcEIWFmPnj=w526-h786-no" alt=""></a>
                    <div class="card-block">
                </div>
            </div>

                        <div class="col-lg-4 col-sm-6 portfolio-item">
                <img class="card-img-top img-fluid" src="https://lh3.googleusercontent.com/MItJ91ctCN3heEzky_g1ixHN46BCtQdaduBshOzJRpgw3edXqrT2tuscf7hEQx4Xi1LnvWgcwlAHnDsL5Q33hVUS4puvX2H7jrLgxoSy-e263OT4-1MI4To0Cf8LCSOdzxkPHSh9jPxD8dZ5XX5cci06dBv2zLdEfYvsCMRVfI1DgDm8OAOGRgXq6QU0clfBR9bYO7gjU3JtUvtM6tXi8rnio3_cI1zRbk5tUlDCoVcntk4t1Vaukz3_5JCkntQfFz4SC9-VTOYD6k8o6U7lGmkHz2TeOlV7cAhFqjpS6YBTn_livNyK8AqAZZQR8IDcfo6B4LS19rVRjmSHlVekTMouXCal_3aYz_afkcb5sz-W4eKBcYa4_HFqUkgONApeTXqfjsyqs6Oco--gM4yFDGGoP_4xiKyx1YrsD_gyVltr6xOqXZ47o9ehIKUa28LJzDJwtM-asDPIk-vSOHkutnCH-1mJefHlQ1lVe3baL9t05FCGdVSqog-AjCb3R7yLlMi5TLN0m9txug45RNavJtdoHmUCJXbSqWZrsm0BprtnzICR0eDspp848N0C3mS-qkJ9h1kEG6XcfYk79HeEaF5GrPn9BfeIaHF8x6Pgr7iY4eb5nhn4sfhX=w1070-h786-no" alt=""></a>
                    <div class="card-block">
                </div>
            </div>

                        <div class="col-lg-4 col-sm-6 portfolio-item">
                <img class="card-img-top img-fluid" src="https://lh3.googleusercontent.com/53rpfzvbaEGOHWHp6oAbZM_iqJvIEpOE3ZjY8FrXR1ih8z8NB8UX4tZzmHbf307_pbVmmCdRMraa7zY9bMBY6w28liBmpUZ3hOYpTFD01qwU5YLeiaznQfrb2Madf57TLTL0_BUht2-bMfDzZBATu05Iwgq5raDG7MhizN2fcQo93brJvK4ekMBRydJdvSlSyMZ95K0T0-lRb0L5sbRfpivbP0dLBnuSUzOvY7U3hPoX8WF4UaR58Yv7h4-7DFtlMdr6MLa8i7LMlb8EHXr1DLwobdxmxEmpoDC1Qo0mAiaQf-bpl8N0THOcqShq-BLH_1I-o-NI1KMHfA8ZSHnwcnFp5cJaM_dvSvFaFt7lkY0s_Q0qgm1DCTbl52NfdcP2LG5nygjzEN5g5Yv8yq2plcwlJP6fi-bVJ1NSle9UMEKtFaHqFAdjzDXYf0Hdm9vGriFKdyJAhGwZ2t2BrTKVPxQJXDYV4lvwZx-FOzIkZUzIHl9AV93kGk6bC3NssEvAt_X9Fh754q440p2n_bYIU3S1PHwEO2ISGAyJk8KqcJI9w3Hn60PjLZQBclMlqEfKhRezv6jA4Wq05ArXns7WQN23DmJ8cP16Q6ToDY-KN4SMkPTWzW08D104=w1176-h786-no" alt=""></a>
                    <div class="card-block">
                </div>
            </div>

                        <div class="col-lg-4 col-sm-6 portfolio-item">
                <img class="card-img-top img-fluid" src="https://lh3.googleusercontent.com/GyaVQgt0rVnLaJe2r3tMbhBwvzsA5H3oncmlh7an6fuqlrknH1fOMMLQ42dNDdPz8E8JP4eritVz6pbBET-rpkXdbXIa4RN2u96EJDJrtfwVRqu0-efKTPHVGDFiTPiYxh2E-SL57oyi-CSzaiG6ipvrgB1VoqYOG2eF2u5fhXpUkg_j65eLe2UfcSs7U4xDHaNpX7oAJsTN9xCz85mpCh5je7nD1cPj2v86V_92EcvrtQTFFzWTaINnEBcqWf6Nxrl-kRHwCqUhpTV3xnPMvioF8iRJVoU-kzTDaukiKGw_fnB0xus2zbLGl8XabjVTsoPvlIuoTlqdmE6QLpDec73GdpUoK8h3jS6cSJyZI9O0O4E5lhqtYrWjwXh_7mz_d6QgTLmo5Yu-7Ywrq2JKzo5y0ivGnFXGrx5uB3jaO8tGwqtxlSsTXtObN8PU-e1qc5070193-43l2K6ozO7Pto67nUM4lMYsTw5lcZx9lRx18gw0J6Ki1_QsgYY3Bpg9vqI0bVegObEobPHXtYEcVPyz7yVDLM-jfGRVjY4vsJ_XGS9Mya5SE3zkzsvDKIxk9_6hvLso7LZihy-CyADNjDl5YU_5nqr-SznH2zRSawfDh-aG-fyB8ZRI=w1177-h786-no" alt=""></a>
                    <div class="card-block">
                </div>
            </div>

                        <div class="col-lg-4 col-sm-6 portfolio-item">
                <img class="card-img-top img-fluid" src="https://lh3.googleusercontent.com/lzUwlmRcPLGt9SoR8OKiJOICm9W4jSVHViy5OhsoZmOhuQ3l-qbezvCnpHzeU0lQUeqGOTQg_Q-GQZLAaDeL_SE0HUFpOJsim-jVu928VBwJhLVQ3M69LGJXc1ip72A4xZpgwkVZBXGwYtUgMKlQIWK9uxd6s-wwKHotXHA-5Hxx9eLNhWl695H397ldHDPpVOxeMPWzZHBMuBeGLHxQ_KkysaOS-TdNdr9CK-TrUAX1M8Z0l6Q3cY-Jbd8aq1x9Fqjun7iw3hxsaEEraMygE8VqHGijYMyShivk_WttiTovSnwGYxo9x1kfEr6gENAkxl_ZXx7H29V6vQFN2kYgEDPI62OBuWu7NxX8XOY_JnVxuOzdhP1GhIUa7jqM-6mzXBlsSEehudxJ4QqqL2GRs_mQkSNSmMTKIP30lZ-mwKm3hviF3PEecP59gC50Szp286-hFUFW_-aZovheWRVR5FBVI43gB1Mgp84ju37sbzyyD3nfwWqFEcDpdGbyznQN5gByAJoehW9SvFRhs7e_RDJ9KlhqlZtIBJYV13WNGA5zybWzWIcFtR2Z9ZlC12ZxkvcuRIuwqqW6AddYKvfUDouCDjJ3L47BYAxvltdWIdDXx0_PdUKx43Tu=w1177-h786-no" alt=""></a>
                    <div class="card-block">
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 portfolio-item">
                <img class="card-img-top img-fluid" src="https://lh3.googleusercontent.com/kRkOzaSU2Hr1hK0Zxxfc9B_OD0Zc-djsPaQXMPBAV3GINXF-SWkvngRAyJnEyP8wuXnA03G_z_3RLLiL1TI-7THJQbTruWjwChW8d9I51Dx7-MZNFy9MulMgzJBue7xL90X2orCsFU1RZ0Y1JbXfdDgXLt-8Z0S2FbnSSnVjgftRju7piZbeEvNztPwD6VyQFBmxeU34knoaACy9xPjNos8ewr2QLjIHixsLOyTEA6oWd1VKOOkoiF8Vb81vwVvJyd8xL4eIQM4aS30aF7-CLGFv0X1wuygFOZ6DY9hvzGhjTAD7GbyKRdFVeRE6KnXk962uHoKFkCNSDHFISht23bNfq0spdlWcTv8hHQ9zrkdaz3CEz_4wWoNagHe11ZDiqs60_04XKSHlb99L_yb7lqEzo-5qcJ8fU690fP16J0SrvW5UmQdt1JqLNiqj9_HHvg1mzZ7VYxWvb439yjCbTcDaTtXeDYc0Ebctlz4zgt5ZpGCdXzvri8FODLI2ENHueIJ-rON-ewqZunJeDOwdFxIw6W6QSxPa95rnIFMaBZikrMPYX5vkv7CuEUvt74YB5xSlX_pb1NqaVLXBe_oxPh9TdZe-Dy6VeQ-rGyD1y6l3tzp0hVqZKbC7=w1177-h786-no" alt=""></a>
                    <div class="card-block">
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 portfolio-item">
                <img class="card-img-top img-fluid" src="https://lh3.googleusercontent.com/VrdpmVGuSCLc7qevN63FSincGxpL3Ecgb2ukUY_SXmAKNl8OUIojdmxlEsHh5antoiFMaSHonKbvID3b6PrB9bVBFeGZ9FsQFN2QejUMVGG_fbqZiSd-NaYuofywhhzodMvLHtdBXRA78FjPVQ0hMs9dKgkC8FbGyInTMII8CmFlkhYga6_j4Nil3JBZSvGm-yLfJgDnf4BOcEGdgHN3TsoL01Y63hlZRweZt6lih1cLh-jF1EPebhY28oFZrZAolt51hjcocb8yuSoTPrDyLEZVG8y0qC5TMNeybzq-tM9It_s5yfiWLCeDeT16xPkT143p3BMLaPvo5LfeZq3afsdj4mf9wTjh5MGPn8MLYOVb-7SSbWvoVJKSu_d4hgWlsdlox6rWU31BkbbfJRFOFk2SVTIMs3xJ_VsbTigZz8xzKwgqhPX3U5pNIbBOfmYcl7QYm3B3jrmaz8NB1MnrdiSeFuJsLvxNh6LsO0IW7HbXf805aV4WKMU14Ld0aQUY9gNuL32E6HXVVbHRksmva9hJLn_zQZnM17txd6Y2hKucwB22RogVGUw8qaeCc5gwXdNo410ECKnZLwXx1ueFinU74BxUD-Q45BQ7USz9yLDlUvQoc4okLMUf=w1178-h786-no" alt=""></a>
                    <div class="card-block">
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 portfolio-item">
                <img class="card-img-top img-fluid" src="https://lh3.googleusercontent.com/_VKAdm0QwwAXRAHRRq1pjPD1j1DoMKKk1vtuyB3cwN_uzXmZoZCeHKvq5FfDNpalnInG7NaloPY8vWEYAhwM-yTbrM9z7mWqeeqTF35w1SBxEtU-eDgsbDe75WY7N90cciIMqc-mxaCD11Laojsp-21OtupjBeulYH9UaUAkHlKaC4_0y3Mbg4c5WyTEVeRgqIeTPbqaDGAXfP5XczzjbjDLYe-nu1hFwca9z-c0naejk0rZWcTeZGHDq-z0Hlh-dIKIo7EigsGLKvAJBv1nyrO8EPuY4PGjBGA3gKtP0hb2oP1SY6e2yKCc8RN-9lDj__KjB-pjm_DifM4G4mprE70tk4RJEJcKFq6HnQsN0RzEX3uSwsjbepvHi1BMzYsK-R8MlRWSlB_oC5yOf6oJ1h2gp3UJZmuoL5WyOvd3gDaskHW86Ck92TIkC6F63QLyZV2nYfdxHt6CwDvq1dgPzt6UlTyqag66fWzhDqA2dHYcGuetpaf_3Hgy61gAsstTCbOmBFGNszTmB7hVNqndFZORevDwjrYBX1Ukm2t0rBee-IMqQA8NsPZwQNGVZ-eptIr-LSWiQdC6NjzQmF16oYiEtaVakmWk-AnPczzglazrOhOsje3KGZAI=w1177-h786-no" alt=""></a>
                    <div class="card-block">
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 portfolio-item">
                <img class="card-img-top img-fluid" src="https://lh3.googleusercontent.com/HzpfVSnKG4PrWOZQDLnuR6R3_WsIYq9S3n1HbFReeZnKa7Km5CzoUqEI7wTFlODZcQEDTbVwxBwdMl2cgNy85YDkORoz9HoY5Oj8_cEJw0tpHrvyPvrXhAOuEA2Wp2MuPYlsgN1fx8E6GPiy2_Ikn2yvmkYB0iVzgB1W5qbbLy7AjjFV_iAin5U-IEa4C2FH_jU3kcTvQb0sWYT6X4nv8DgT-YEYOBJi0HWWDhYJOq71ttdyd9WL5NQ-Wiys9Ii8tpH2mjfQbaRZF-tp-VIv6wr01Jn_vpM4Eye0GQSYCLAbslmKNF9nRN_t-rMaoogED8ezbc_YI05QRUYlABdfc7aKcFK3YqFLIe82htDhHVk1F4RKyjGtzYrggO5mK8I6f_Hi1aZvIoCsc9NwVCh811XSGgi0dptfXeL_jMNGAJYCF1tevzdAkUN9sM3kdf8fLUtemOb4ifkVft1fUmFoiPOkatL7r1EUblSiK38kFkj8jBQIYg-nO1T3CnTgp59FOz6GbEUIn13_WN0C6s6FBo6YI04P8eaqb0inDTigxkYm1aWTf-vIDuGIMAcUKLTHpzmdKhE-KEvBUTSdILCQ7j6vw2kp30gc2zwCyqFvL1N9WIJfSJysGL2Z=w1177-h786-no" alt=""></a>
                    <div class="card-block">
                </div>
            </div>
            
        </div>
        <!-- /.row -->


    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-inverse">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Jenny Lagrimas Photography 2017</p>
        </div>
        <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="/col3/vendor/jquery/jquery.min.js"></script>
    <script src="/col3/vendor/tether/tether.min.js"></script>
    <script src="/col3/vendor/bootstrap/js/bootstrap.min.js"></script>

</body>

</html>
